{{extend 'layout.html'}}

<h2>{{=T("About Sahana")}}</h2>
<div class='item-container'>
<table>
<tr><td>
<strong>Component</strong>
</td><td>
<strong>Details</strong>
</td></tr>
<tr><td>
Sahana
</td><td>
{{=sahana_version}}
</td></tr>
<tr><td>
Web Server
</td><td>
{{=request.env.server_software}}
</td></tr>
<tr><td>
Web2Py
</td><td>
{{=web2py_version}}
</td></tr>
<tr><td>
Python
</td><td>
{{=python_version}}
</td></tr>
</table>
</div>
<p>&nbsp;</p>
{{if 'Administrator' in session.s3.roles:}}
<strong>{{=A(T("Internal State"),_href=URL(r=request,c='appadmin',f='state'))}}</strong>: {{=T("Request, Response & Session")}}
{{pass}}
