{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Welcome to the Sahana Eden Disaster Management Platform")}}</h2>
<div>
{{=div_sit}}
{{=div_arrow_1}}
{{=div_dec}}
{{=div_arrow_2}}	
{{=div_res}}
</div>
    <p class = "menu_text">
    {{=T("For more details on the Sahana Eden system, see the")}} <a href="http://eden.sahanafoundation.org">{{=T("Sahana Eden Website")}}</a>
    <br/>{{=T("For live help from the Sahana community on using this application, go to")}} <a href="http://eden.sahanafoundation.org/wiki/Chat">{{=T("Sahana Community Chat")}}</a>
    </p>
    <p>
    {{=T("Administrator")}}: {{=admin_name}}
    <br/>{{=T("Email")}}: {{=admin_email}}
    <br/>{{=T("Telephone")}}: {{=admin_tel}}
    </p>
</div>