{{extend 'layout.html'}}

{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}

{{include 'default/resources.js'}}

<script type="text/javascript">//<![CDATA[
$(function() {
    // Hide the textarea
    $("#textarea").hide();
    // When the Representation changes:
	$("select#representation").change(function() {
        // What is the new representation?
        representation=$(this).val();
        if (representation=="csv") {
            // Hide the textarea
            $("#textarea").hide();
            // Show the file upload
            $("#file").show();
        } else if (representation=="json") {
            // Hide the file upload
            $("#file").hide();
            // Show the textarea
            $("#textarea").show();
        }
    })
    $("input#submit").click(function() {
        // Set the Action URL
        $("form#poster").attr("action","{{=URL3(r=request)}}/"+$("select#module").val()+"/"+$("select#resource").val()+"/create?format="+$("select#representation").val());
        return True;
    })
});
//]]></script>

<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
<form id="poster" action="/sahana/module/resource/create?format=representation" method="POST" enctype="multipart/form-data">
    <table>
    <tr><td>Module:</td><td>
    <select id="module" name="module">
     <option value="or">Organisation Registry</option>
     <option value="pr">Person Registry</option>
     <option value="cr">Shelter Registry</option>
     <option value="gis">Situation Awareness</option>
    </select>
    </td></tr>
    <tr><td>Resource:</td><td>
    <select id="resource" name="resource">
     <option value="organisation">Organisation</option>
     <option value="office">Office</option>
    </select>
    </td></tr>
    <tr><td>Format:</td><td>
    <select id="representation" name="representation">
     <option value="csv">CSV</option>
     <option value="json">JSON</option>
    </select>
    </td></tr>
    <tr id="file"><td>File:</td><td>
    <input type="file" name="filename"/>
    </td></tr>
    <tr id="textarea"><td>Data:</td><td>
    <textarea name="data" cols="100">paste text here...</textarea>
    </td></tr>
    <tr><td></td><td>
    <input id="submit" type="submit" value="Upload"/>
    </td></tr>
    </table>
</form>
{{pass}}
</div>
<div id='results'></div>
