{{extend 'layout.html'}}
<div id='home'>
<div id='logo'>
</div>
<h2>{{=T("Welcome to the Haiti Organisation Registry")}}</h2>
<p>
{{=T("This site is used to show all the locations of response agencies working for the Haiti Quake Response 2010")}}:
</p>
<ul>
 <li><strong>{{=A(T('Organization Dashboard'), _href=URL(r=request, c='or', f='dashboard'))}}</strong></li>	
  View, edit and add organizations and their Offices, Contacts and Activities<br/>
  <li><strong>{{=A(T('Organizations Registry'), _href=URL(r=request, c='or', f='organisation'))}}</strong></li>
  List of all Organizations<br/>
  <li><strong>{{=A(T('Activities Report'), _href=URL(r=request, c='or', f='activity'))}}</strong></li>
  Report of all Activities<br/>
  <li><strong>{{=A(T('View Offices in Google Earth'), _href=URL(r=request, c='gis', f='location.kml'))}}</strong></li>
</ul>
<p>
<br/>{{=T("To add data to this database, see")}} <a href="http://trac.sahanapy.org/wiki/HaitiDataEntry">{{=T("Data Entry Process")}}</a>
<br/>{{=T("For live help from the Sahana community, go to")}} <a href="http://www.sahana.lk/chat">{{=T("Sahana Community Chat")}}</a>
</p>
<p>
{{=T("Administrator")}}: {{=admin_name}}
<br/>{{=T("Email")}} : {{=admin_email}}
<br/>{{=T("Telephone")}} : {{=admin_tel}}
</p>
</div>
