{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Welcome to the Sahana Eden Disaster Management Platform")}}</h2>
{{if 2 in session.s3.roles:}}
<div>
{{=div_sit}}
{{=div_arrow_1}}
{{=div_dec}}
{{=div_arrow_2}}	
{{=div_res}}
</div>
    <p class = "menu_text">
    {{=div_additional}}
    {{=T("For more details on the Sahana Eden system, see the")}} <a href="http://eden.sahanafoundation.org">{{=T("Sahana Eden Website")}}</a>
    <br/>{{=T("For live help from the Sahana community on using this application, go to")}} <a href="http://eden.sahanafoundation.org/wiki/Chat">{{=T("Sahana Community Chat")}}</a>
    </p>
    <p>
    {{=T("Administrator")}}: {{=admin_name}}
    <br/>{{=T("Email")}}: {{=admin_email}}
    <br/>{{=T("Telephone")}}: {{=admin_tel}}
    </p>
{{include "rssviewer.html"}}
</div>
{{else:}}
  <div id='login_form'>
    <p>
    {{=T("Sahana Eden is a family of applications that provide solutions to coordination and collaboration for organisations working in disaster management.")}}
    </p>
    <p>
    {{=XML(T("Registered users can") + " <b>" + T("login") + "</b> " + T("to access the system"))}}:
    </p>
    {{=H3(T("Login"))}}
    {{include "auth/_login.html"}}
  </div>
{{if self_registration:}}
  <div id='register_form' class='hide'>
    <p>
    {{=XML(T("If you would like to help, then please") + " <b>" + T("sign-up now") + "</b>")}}:
    </p>
    {{=H3(T("Register"))}}
    {{include "auth/_register.html"}}
  </div>
{{pass}}
{{include "rssviewer.html"}}
</div>
<script type="text/javascript">//<![CDATA[
$(document).ready(function() {
    // Change register/login links to avoid page reload, back make back button work.
    $('#register-btn').attr('href', '#register');
    $('#login-btn').attr('href', '#login');
    
    // Redirect Register Button to unhide
    $('#register-btn').click(function() {
        // Unhide register form
        $('#register_form').removeClass('hide');
        // Hide login form
        $('#login_form').addClass('hide');
    });
    
    // Redirect Login Button to unhide
    $('#login-btn').click(function() {
        // Hide register form
        $('#register_form').addClass('hide');
        // Unhide login form
        $('#login_form').removeClass('hide');
    });
});
//]]></script>
{{pass}}
