{{extend "layout.html"}}
<div id="home">
{{if request.args(0) == "login":}}
 {{=H2(T("Login"))}}
 {{include "auth/_login.html"}}
{{elif request.args(0) == "register":}}
 {{=H2(T("Register"))}}
 {{include "auth/_register.html"}}
 {{if session.s3.debug:}}
  {{if session.s3.cdn:}}
<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.js" type="text/javascript"></script>
  {{else:}}
<script src="/{{=request.application}}/static/scripts/S3/jquery.validate.js" type="text/javascript"></script>
  {{pass}}
 {{else:}}
  {{if session.s3.cdn:}}
<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.pack.js" type="text/javascript"></script>
  {{else:}}
<script src="/{{=request.application}}/static/scripts/S3/jquery.validate.pack.js" type="text/javascript"></script>
  {{pass}}
 {{pass}}
{{elif request.args(0) == "profile":}}
 {{=H2(T("Profile"))}}
 {{=form}}
{{elif request.args(0) == "change_password":}}
 {{=H2(T("Change Password"))}}
 {{=form}}
<script src="/{{=request.application}}/static/scripts/S3/jquery.pstrength-min.1.2.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    $('.password:eq(1)').pstrength();
});
</script>
{{elif request.args(0) == "reset_password":}}
 {{=H2(T("Reset Password"))}}
 {{=form}}
{{elif request.args(0) == "retrieve_password":}}
 {{=H2(T("Retrieve Password"))}}
 {{=form}}
{{pass}}
</div>
