{{extend 'layout.html'}}

<div id="home">
<h2>
{{if request.args[0]=='login':}}
 {{=T('Login')}}
{{elif request.args[0]=='register':}}
 {{=T('Register')}}
{{elif request.args[0]=='profile':}}
 {{=T('Profile')}}
{{elif request.args[0]=='change_password':}}
 {{=T('Change Password')}}
{{elif request.args[0]=='retrieve_password':}}
 {{=T('Retrieve Password')}}
{{pass}}
</h2>
{{=form}}
{{if request.args[0]=='login':}}
 <p>
 {{self_registration = db().select(db.s3_setting.self_registration)[0].self_registration}}
 {{if self_registration:}}
    <a id="register-btn" href="{{=URL(r=request, args='register')}}">{{=T('Register')}}</a>
    <br />
 {{pass}}
 <a id="retrieve-btn" href="{{=URL(r=request, args='retrieve_password')}}">{{=T('Lost Password')}}</a>
 </p>
{{pass}}
</div>
