{{extend 'layout.html'}}

{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}

{{=H3(T("Create a new Partner"))}}
<div id='table-container'>
 <tr>
 <td>&nbsp;{{=form}}&nbsp;</td>
 </tr>
</table>
<p>&nbsp;</p>
{{=H3(T("Partners"))}}
<div id='table-container'>
<table><thead><tr><th>Id</th><th>UUID of machine</th><th>Username</th><th>Password (hidden for security)</th><th>Sync Policy</th></tr></thead>
{{for i in records:}}
 <tr>
 <td>&nbsp;{{=A(T(str(i.id)),_href=URL(r=request, c='appadmin', f='update/db/admin_syncpartners', args = i.id))}}&nbsp;</td>
 <td>&nbsp;{{=i.uuid}}&nbsp;</td>
 <td>&nbsp;{{=i.username}}&nbsp;</td>
 <td>&nbsp;.......{{#=i.password}}&nbsp;</td>
 <td>&nbsp;{{=i.sync_policy}}&nbsp;</td>
 </tr>
{{pass}}
</table>
</div>

