.action-delete { 
	background-image: url(../images/delete.png) !important;
	background-repeat: no-repeat; }

.action-add{
	background-image: url(../../../img/silk/fam/add.png) !important;
	background-repeat: no-repeat; }

.action-search{
	background-image: url(../../../img/silk/fam/magnifier.png) !important;
	background-repeat: no-repeat;
}
