{{extend 'layout.html'}}
<h1>{{=T("Synchronisation")}}</h1>
{{=T("Synchronization allows you to share data that you have with others and update your own database with latest data from other peers. This page provides you with information about how to use the automatic synchronization feature of SahanaEden")}}. {{=T("For more information, see ")}}<a href="http://eden.sahanafoundation.org/wiki/BluePrintSynchronisation">{{=T("this")}}</a>.
<br /><br />
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("To begin the sync process, click the button on the right => ")}}
        </td>
        <td align="right" nowrap><a href="sync/now">{{=T(">> SYNC NOW <<")}}</a></td>
    </tr>
</table>
<br />
<h3>{{=T("Important")}}</h3>
<b>{{=T("For enhanced security, you are recommended to enter a username and password, and notify administrators of other machines in your organization to add this username and password against your UUID in Synchronization -> Sync Partners")}}</b>
<br /><br />
<h3>{{=T("How does it work?")}}</h3>
{{=T("Your system has been assigned a unique identification (UUID), which other computers around you can use to identify you. To view your UUID, you may go to Synchronization -> Sync Settings.
You can also see other settings on that page.")}}<br /><br />
<h4>{{=T("Offline Sync (from USB/File Backup)")}}</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("Instead of automatically syncing from other peers over the network, you can also sync from files, which is necessary where there's no network. You can use this page to import sync data from files and also export data to sync files. Click the link on the right to go to this page.")}}
        </td>
        <td align="right" nowrap><a href="sync/offline">{{=T("> Offline Sync")}}</a></td>
    </tr>
</table>
<br />
<h4>{{=T("Sync Settings")}}</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("You can change the configuration of synchronization module in the Settings section. This configuration includes your UUID (unique identification number), sync schedules, beacon service and so on. Click the following link to go to the Sync Settings page.")}}
        </td>
        <td align="right" nowrap><a href="sync/settings">{{=T("> Sync Settings")}}</a></td>
    </tr>
</table>
<br />
<h4>{{=T("Sync Partners")}}</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("Sync Partners are instances or peers (SahanaEden, SahanaAgasti, Ushahidi, etc.) that you want to sync information with. Click on the link on the right to go the page where you can add sync partners, search for sync partners and modify them.")}}
        </td>
        <td align="right" nowrap><a href="sync/partners">{{=T(">Sync Partners")}}</a></td>
    </tr>
</table>
<br />
<h4>{{=T("Sync Pools")}}</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("Sync Pools are groups of peers (SahanaEden & SahanaAgasti instances) willing to sync with each other. You can subscribe to different groups, define new groups and dicsover the existing ones. Click the link on the right to go to Sync Pools page.")}}
        </td>
        <td align="right" nowrap><a href="sync/pools">{{=T("> Sync Pools")}}</a></td>
    </tr>
</table>
<br />
<h4>{{=T("Sync Conflicts")}}</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("When syncing data with others, conflicts happen in cases when two (or more) parties want to sync information which both of them have modified, i.e. conflicting information. Sync module tries to resolve such conflicts automatically but in some cases it can't. In those cases, it is up to you to resolve those conflicts manually, click on the link on the right to go to this page.")}}
        </td>
        <td align="right" nowrap><a href="sync/conflicts">{{=T("> Sync Conflicts")}}</a></td>
    </tr>
</table>
<br />
<h4>{{=T("Sync Schedule")}}</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("For each sync partner, there is a default sync job that runs after a specified interval of time. You can also set up more sync jobs which could be customized on your needs. Click the link on the right to get started.")}}
        </td>
        <td align="right" nowrap><a href="sync/schedule">{{=T("> Sync Schedule")}}</a></td>
    </tr>
</table>
<br />
<h4>{{=T("Sync History")}}</h4>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left">
            {{=T("This page shows you logs of past syncs. Click on the link below to go to this page.")}}
        </td>
        <td align="right" nowrap><a href="sync/history">{{=T("> Sync History")}}</a></td>
    </tr>
</table>
<br /><br />