{{extend "layout.html"}}
<h1>{{=T("Manual Synchronization")}}</h1>
<script type="text/javascript">//<![CDATA[
function getSyncStatus() {
    $.get("{{=URL(r=request, c="sync", f="now", vars=dict(action="status"))}}", function(data) {
//         alert("Status received.");
        if (!(data === "DONE")) {
            $('#sync_status').append(data);
            setTimeout('getSyncStatus()', 3000);
        }
    });
};
function startSync() {
    $.ajax({
        type: "POST",
        url: '{{=URL(r=request, c="sync", f="now", vars=dict(action="start"))}}',
        async: true,
        global: false});
    getSyncStatus();
    $('#sync_status').append("<div class=\"success\">Synchronization started.</div>");
};
function haltSync() {
    $.ajax({
        type: "POST",
        url: '{{=URL(r=request, c="sync", f="now", vars=dict(action="halt"))}}',
        async: true,
        global: false,
        success: function(data) {
            $('#sync_status').append("<div class=\"sync_skipped\">" + data + "</div>");
            getSyncStatus();
        }
    });
};
function stopSync() {
    $.ajax({
        type: "POST",
        url: '{{=URL(r=request, c="sync", f="now", vars=dict(action="stop", force="true"))}}',
        async: true,
        global: false,
        success: function(data) {
            $('#sync_status').append("<div class=\"sync_skipped\">" + data + "</div>");
            getSyncStatus();
        }
    });
};
//]]></script>
<table border="0" cellpadding="0" cellspacing="0" style="font-size: small">
{{if status:}}
    <tr>
        <td nowrap>
            {{=T("Sync process already started on " + status.start_time.strftime("%x %H:%M:%S") + ", click this button to resume => ")}}&nbsp;&nbsp;&nbsp;
        </td>
        <td nowrap>
            <a class="action-btn" onclick="startSync();">START</a>
        </td>
    </tr>
{{else:}}
    <tr>
        <td nowrap>
            {{=T("To begin the sync process, click this button => ")}}&nbsp;&nbsp;&nbsp;
        </td>
        <td nowrap>
            <a class="action-btn" onclick="startSync();">START</a>
        </td>
    </tr>
{{pass}}
</table>
<div style="float: right;">
    <table>
        <tr>
            <td nowrap="nowrap" id="start-btn" style="padding: 5px;">
                <a class="action-btn" onclick="startSync();">START</a>
            </td>
            <td nowrap="nowrap" id="halt-btn" style="padding: 5px;">
                <a class="action-btn" onclick="haltSync();">PAUSE</a>
            </td>
            <td nowrap="nowrap" id="stop-btn" style="padding: 5px;">
                <a class="action-btn" onclick="stopSync();">CANCEL</a>
            </td>
        </tr>
    </table>
</div>
<h4>Message Log</h4>
<div id="sync_status">
</div>
