{{extend "layout.html"}}
<h1>{{=T("Manual Synchronization")}}</h1>
<script type="text/javascript">//<![CDATA[
function getSyncStatus() {
    $.get("{{=URL(r=request, c="sync", f="now", vars=dict(sync="status"))}}", function(data) {
//         alert("Status received.");
        if (!(data === "DONE")) {
            $('#sync_status').append(data);
            setTimeout('getSyncStatus()', 3000);
        }
    });
};
function startSync() {
    $.ajax({
        type: "POST",
        url: '{{=URL(r=request, c="sync", f="now", vars=dict(sync="start"))}}',
        async: true,
        global: false});
    getSyncStatus();
    $('#sync_status').append("<div class=\"success\">Synchronization started.</div>");
};
//]]></script>
<table border="0" cellpadding="0" cellspacing="0" style="font-size: small">
{{if status:}}
    <tr>
        <td nowrap>
            {{=T("Sync process already started on " + status.started_on.strftime("%x %H:%M:%S") + ", click this button to resume => ")}}&nbsp;&nbsp;&nbsp;
        </td>
        <td nowrap>
            <a class="action-btn" onclick="startSync();">START</a>
        </td>
    </tr>
{{else:}}
    <tr>
        <td nowrap>
            {{=T("To begin the sync process, click this button => ")}}&nbsp;&nbsp;&nbsp;
        </td>
        <td nowrap>
            <a class="action-btn" onclick="startSync();">START</a>
        </td>
    </tr>
{{pass}}
</table>
<h4>Message Log</h4>
<div id="sync_status">
</div>
