{{extend "layout.html"}}
{{=H2(title)}}
{{if len(jobs) == 0:}}
<div align="center">There are no scheduled jobs. <a href="{{=URL(r=request, f="schedule/create")}}">Click here</a> to schedule a sync job.</div>
{{else:}}
<div id="table-container">
<table class="display" width="100%" cellpadding="2" cellspacing="0"><thead><tr><th></th><th>Sync Partner UUID</th><th>Data Source</th><th>Schedule</th><th>Description</th><th>Last Run</th><th>Enabled?</th><th></th></tr></thead>
 <tbody>
{{
import simplejson

tr_class = "even"
for job in jobs:
	if tr_class == "even":
		tr_class = "odd"
	else:
		tr_class = "even"
	pass
	
	job_partner_uuid = "0"
	job_cmd = dict()
	if job.job_type == 1:
		job_cmd = simplejson.loads(job.job_command)
		job_partner_uuid = job_cmd["partner_uuid"]
	pass
}}
 <tr class="{{=tr_class}}">
 <td valign="top"></td>
 <td valign="top">{{=job_partner_uuid}}</td>
 <td valign="top">{{=job.job_command}}</td>
 <td valign="top">{{=sync_schedule_period_opts[job.period]}}</td>
 <td valign="top">{{=job.comments}}</td>
 <td valign="top">{{=job.last_run}}</td>
 <td valign="top">
{{
if job.enabled:
    response.write(T("Enabled"))
else:
    response.write(T("Disabled"))
pass
}}
 </td>
 <td valign="top"><input type="button" onclick="window.location.href='#'" value="Modify" /></td>
 </tr>
{{
pass

if tr_class == "even":
	tr_class = "odd"
else:
	tr_class = "even"
pass
}}
 <tr class="{{=tr_class}}">
 <td colspan="3"><a href="{{=URL(r=request, f="schedule/create")}}"><b>Create New Job &gt;&gt;</b></a></td>
 <td align="right" colspan="5">With selected: <input type="button" onclick="enableSelected()" value="Enable" />&nbsp; <input type="button" onclick="disableSelected()" value="Disable" />&nbsp; <input type="button" onclick="deleteSelected()" value="Delete" /></td>
 </tr>
 </tbody>
</table>
</div>
{{pass}}
<p>&nbsp;</p>