{{ extend "layout.html"}}
{{ include "colorbox.html"}}        
<style type="text/css">
    .box {
        border: 30px none;
        width: 101%;
        padding: 2px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        display: block;
        font-family: sans-serif serif, verdana;
    }

    .section {
        padding: inherit;
        text-align: justify;
        margin: 0 0 0 10px;
        background-color: #ffffff;
        display: block;
        overflow: auto;
        font-size:12px;
        font-family:inherit;
    }

    .question {
        padding: 10px inherit;
        text-align: justify;
        margin: 0 0 0 25px;
        display: block;
        font-size:14px;
        font-family:inherit;
        font-weight:bolder;
    }
     /*the title box for sections; the "Add" box for sections and questions */
    .section_title a {
        border: 1px solid #000000;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left:6px;
        width: 30em;
        text-align: justify;
        display: block;
        color:#006699;
        font-size:14px;
        font-weight:bolder;
    }

    .question_title a {
        border: 1px solid #000000;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left:6px;
        margin: 0 0 0 25px;
        width: 30em;
        text-align: justify;
        display: block;
        color:#006699;
        font-size:14px;
        font-weight:bolder;
    }

    .question_answer {   
        text-align: justify;        
        display: block;
        font-size: 12px;
        font-family: inherit;

    }
    td {
        padding: 10px;
        margin-right:2px;
    }

    td .question_comment {
        padding: 10px;
        margin-right: 2px; 
    }
    .hidden {
        display: none;
    }
</style>
<h2>
    {{=T("Add Questions")}}
</h2>

<div class="box">
    {{try:}}
        {{=ui}}        
    {{except:}}
        {{pass}}
</div>


<div id="new_section" style="display:none;">
    
</div>