{{extend "layout.html"}}
{{=H2("Add Section")}}
{{include "colorbox.html"}}
<!--<link href="/{{=request.application}}/static/styles/S3/colorbox.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />-->
<!--{{if session.s3.debug:}}-->
 <!--<script src="/{{=request.application}}/static/scripts/S3/jquery.colorbox.js" type="text/javascript" charset="utf-8"></script>-->
<!--{{else:}}-->
 <!--<script src="/{{=request.application}}/static/scripts/S3/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>-->
<!--{{pass}}-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/survey/jquery-ui-1.8.4.custom.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/survey/jquery.bsmselect.js"></script>        
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/styles/survey/jquery.bsmselect.css"/>

<style type="text/css">

    .box {
        border: 1px solid #8FABC7;
        width: 100%;
        padding: 5px 2px 5px 2px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .boxHeader {
        background-color: #8FABC7;
        color: white;
        display: block;
        padding: 2px;
    }

    .buttonsAtBottom {
        margin-top: 10px;
        padding: 5px;
    }

    .odd {
        background-color: #808080;
    }

    .even {
        background-color: #ffffff;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
            $("select[multiple]").bsmSelect({
                addItemTarget: 'bottom',
                animate: true,
                highlight: true,
                sortable: true,
                hideWhenAdded: true,
                title: 'Select a question...'
            });
            $("a.colorbox").click(function() {

            });
    }); 

</script>
<div class='form-container'>   
    {{=form.custom.begin}}
    <table id="section_form">
        <tbody>                                                                                                                     
        <tr id='survey_section_name__row'>
            <td>
                <label>{{=form.custom.label.name}}</label>
            </td>
            <td>
                {{=form.custom.widget.name}}
                <span class="req">*</span>                               
            </td>

        </tr>
        <tr id='survey_section_description__row'>
            <td>
                <label>{{=form.custom.label.description}}</label>
            </td>
            <td>
                {{=form.custom.widget.description}}
            </td>
        </tr>
        <tr>
            <td><label>Questions:</label></td>
            <td>
                <select name="questions" class="ms" multiple="multiple">
                    {{for question in questions:}}
                    <option value="{{=question.id}}">{{=question.name}}</option>
                    {{pass}}
                </select>

            </td>
            <td>
                <a href='{{=URL(r=request,c="survey",f="question", args="create", vars=dict(format="popup"))}}' class="colorbox" title="Add Question">
                    Add Question
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {{pass}}
        <table>
            <br/>
            <tr class="buttonsAtBottom">
                <td>
                    {{=INPUT(_type="button", _value=T("Cancel"), _onclick="window.location='%s'" % (request.url))}}
                    {{=INPUT(_type="submit", _value=T("Save Section"), _id="dummy_submit")}}
                </td>
            </tr>
        </table>
    </div>
    {{=form.custom.end}}