{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Summary by Administration Level")}}</h2>

<table>
<table border="5">
<thead>
<th>Date</th>{{for i in range(7):}}<th><img width=24 height=24 src="/eden/static/img/{{=building_estimated_damage_image[i+1]}}"><br/>{{=building_estimated_damage[i+1]}}</th>{{pass}}<th><img width=24 height=24 src="/eden/static/img/sum.png	"><br/>Total</th>
</thead>
<tbody>
{{for details in report:}}<tr><td>{{=details[0]}}</td>{{for i in range(7):}}<td>{{=details[1][i]}}</td>{{pass}}<td><b>{{=details[1][7]}}</b></td></tr>{{pass}}
<tbody>
</table>

</div>
