{{extend "layout.html"}}
{{include "_update.html"}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function() {
    $('#rheader + h3').after('{{=T("Choose a posting based on the evaluation and team judgment. Severe conditions affecting the whole building are grounds for an UNSAFE posting. Localised Severe and overall Moderate conditions may require a RESTRICTED USE posting. Post INSPECTED placard at main entrance. Post all other placards at every significant entrance.")}}');
});
//]]></script>