{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The Building Asssesments module allows building safety to be assessed, e.g. after an Earthquake.")}}
</p>
<h3>{{=T("Forms available")}}:</h3>
NZSEE Level 1 {{=T("Safety Assessment Form")}} (ATC-20 Rapid Evaluation modified for New Zealand)
<ul>
<li><a href='{{=URL(r=request, f="nzseel1", args=["create"], vars={"triage":1})}}'>Create New Triage</a></li>
<li><a href='{{=URL(r=request, f="nzseel1", args=["create"])}}'>Create New Level 1</a></li>
<li><a href='{{=URL(r=request, f="nzseel1")}}'>List Level 1</a></li>
<li><a href='{{=URL(r=request, f="report")}}'>{{=T("Reports")}}</a></li>
</ul>
</div>
