{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<div id='rheader'>
{{try:}}
 {{=XML(rheader)}}
{{except:}}
 {{pass}}
</div>
<div id='map'></div>
{{try:}}
{{=showadd_btn}}
{{hide_listadd=True}}
{{except:}}
{{hide_listadd=False}}
{{pass}}
<div id='list-add'>
{{try:}}
 {{=H3(addtitle)}}
{{except:}}
{{pass}}
{{try:}}
 {{=addheader}}
{{except:}}
{{pass}}
{{include "key.html"}}
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
</div>
</div>
<p>&nbsp;</p>
{{try:}}
 {{=H3(subtitle)}}
{{except:}}
{{pass}}
{{try:}}
 {{items = items}}
 {{include "formats.html"}}
 <div id='table-container'>
  {{=items}}
 </div>
{{except:}}
{{pass}}
{{include "pagenav.html"}}
{{include "searchbox.html"}}
<p>&nbsp;</p>
{{include "dataTables.html"}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
{{if jr.http == "POST" or not hide_listadd:}}
    $('#list-add').show()
    $('#show-add-btn').hide()
{{else:}}
    $('#show-add-btn').click(function() {
        $('#list-add').show()
        $('#show-add-btn').hide()
    });
{{pass}}
});
//]]></script>
