{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<div id='rheader'>
{{try:}}
 {{=XML(rheader)}}
{{except:}}
 {{pass}}
</div>
<div id='map'></div>
{{try:}}
 {{=H3(addtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
</div>
{{include "key.html"}}
{{try:}}
 {{=H3(subtitle)}}
{{except:}}
{{pass}}
{{include "formats.html"}}
<div id='table-container'>
{{try:}}
 {{=items}}
{{except:}}
{{pass}}
</div>
{{include "pagenav.html"}}
{{include "searchbox.html"}}
<p>&nbsp;</p>
{{include "colorbox.html"}}
{{include "dataTables.html"}}
