<link href="/{{=request.application}}/static/styles/S3/colorbox.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{if session.s3.debug:}}
 <script src="/{{=request.application}}/static/scripts/S3/jquery.colorbox.js" type="text/javascript" charset="utf-8"></script>
{{else:}}
 <script src="/{{=request.application}}/static/scripts/S3/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>
{{pass}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
        $(".colorbox").click(function(){
       $.fn.colorbox({iframe:true,width:"80%",height:"80%",href:this.href,title:this.title});
       });
        });
function tb_remove(){
    $.fn.colorbox.close();
}
//]]></script>
