{{if session.s3.debug:}}
 <script src="/{{=request.application}}/static/scripts/S3/jquery.dataTables.fixed.js" type="text/javascript" charset="utf-8"></script>
{{else:}}
 <script src="/{{=request.application}}/static/scripts/S3/jquery.dataTables.fixed.min.js" type="text/javascript" charset="utf-8"></script>
{{pass}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function() {
    $('#list').dataTable(
    {{try:}}
        {{if sortby:}}
            {"aaSorting": {{=sortby}}}
        {{else:}}
        {{pass}}
    {{except:}}
    {{pass}}
    {{if response.s3.pagination:}}
        {
            //"bFilter": false,
            //"bSort": false,
            "sPaginationType": "full_numbers",
            "iDisplayLength": 50,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{{=URL(r=request, c = request.controller, f = request.function + '.aaData')}}"
        }
    {{pass}}
    );
});
//]]></script>
