{{if session.s3.debug:}}
 <script src="/{{=request.application}}/static/scripts/S3/jquery.dataTables.js" type="text/javascript" charset="utf-8"></script>
{{else:}}
 <script src="/{{=request.application}}/static/scripts/S3/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
{{pass}}
<script type="text/javascript">//<![CDATA[
var Utf8 = {
    // http://www.webtoolkit.info
    // @ToDo: Move to S3.min.js
    encode : function (string) {
        string = string.replace(/\r\n/g, '\n');
        var utftext = '';
        for (var n = 0; n < string.length; n++) {
            var c = string.charCodeAt(n);
            if (c < 128) {
                utftext += String.fromCharCode(c);
            }
            else if((c > 127) && (c < 2048)) {
                utftext += String.fromCharCode((c >> 6) | 192);
                utftext += String.fromCharCode((c & 63) | 128);
            }
            else {
                utftext += String.fromCharCode((c >> 12) | 224);
                utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                utftext += String.fromCharCode((c & 63) | 128);
            }
        }
        return utftext;
    },
    decode : function (utftext) {
        var string = '';
        var i = 0;
        var c = c1 = c2 = 0;
        while ( i < utftext.length ) {
            c = utftext.charCodeAt(i);
            if (c < 128) {
                string += String.fromCharCode(c);
                i++;
            }
            else if((c > 191) && (c < 224)) {
                c2 = utftext.charCodeAt(i+1);
                string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                i += 2;
            }
            else {
                c2 = utftext.charCodeAt(i+1);
                c3 = utftext.charCodeAt(i+2);
                string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                i += 3;
            }
        }
        return string;
    }
}
$(document).ready(function() {
    // Create an array for the column settings (this is required, otherwise the column widths don't autosize)
    var myList = document.getElementById('list');
    if (myList != null) {
        var ColumnCount = myList.getElementsByTagName('th').length;
    } else {
        var ColumnCount = 0;
    }
    var ColumnSettings = new Array();
    ColumnSettings[0] = { 'sTitle': ' ', 'bSortable': false  }
    // Buffer the array so that the default settings are preserved for the rest of the columns
    for (i=1; i < ColumnCount; i++)
        {
        ColumnSettings[i] = null;
        }

  {{if not response.s3.no_sspag:}}
    // Cache the pages to reduce server-side calls
    var DataTableDisplayRows = {{=DATATABLE_NUM_DISPLAY_ROWS}};
    var oCache = {
    	iCacheInitialized: false,    		
        iCacheLower: 0,
        iCacheUpper: DataTableDisplayRows
    };
    function fnSetKey( aoData, sKey, mValue ) {
        for ( var i=0, iLen=aoData.length ; i < iLen ; i++ ) {
            if ( aoData[i].name == sKey ) {
                aoData[i].value = mValue;
            }
        }
    }
    function fnGetKey( aoData, sKey ) {
        for ( var i=0, iLen=aoData.length ; i < iLen ; i++ ) {
            if ( aoData[i].name == sKey ) {
                return aoData[i].value;
            }
        }
        return null;
    }
    function fnDataTablesPipeline ( sSource, aoData, fnCallback ) {
        var iRequestLength = fnGetKey(aoData, 'iDisplayLength');
        // Adjust the pipe size depending on the page size
        if (iRequestLength == 10) {
            var iPipe = 6;
        } else if (iRequestLength > 49 || iRequestLength == -1) {
            var iPipe = 2;
        } else {
            // iRequestLength == 25
            var iPipe = 4;
        }
        var bNeedServer = false;
        var sEcho = fnGetKey(aoData, 'sEcho');
        var iRequestStart = fnGetKey(aoData, 'iDisplayStart');
        var iRequestEnd = iRequestStart + iRequestLength;
        
        oCache.iDisplayStart = iRequestStart;
        /* outside pipeline? */
        if (// oCache.iCacheUpper !== -1 && /* If Display All oCache.iCacheUpper == -1 */
        	 ( iRequestLength == -1 || oCache.iCacheLower < 0 || iRequestStart < oCache.iCacheLower || iRequestEnd > oCache.iCacheUpper )
            ) {
            bNeedServer = true;
        }

        /* sorting etc changed? */
        if ( oCache.lastRequest && !bNeedServer ) {
            for( var i=0, iLen=aoData.length ; i < iLen ; i++ )
            {
                if ( aoData[i].name != 'iDisplayStart' && aoData[i].name != 'iDisplayLength' && aoData[i].name != 'sEcho' ) {
                    if ( aoData[i].value != oCache.lastRequest[i].value ) {
                        bNeedServer = true;
                        break;
                    }
                }
            }
        }

        /* Store the request for checking next time around */
        oCache.lastRequest = aoData.slice();

        if ( bNeedServer ) {
            if ( iRequestStart < oCache.iCacheLower ) {
                iRequestStart = iRequestStart - (iRequestLength * (iPipe - 1));
                if ( iRequestStart < 0 ) {
                    iRequestStart = 0;
                }
            }

            oCache.iCacheLower = iRequestStart;
            if (iRequestLength == -1) {
            	oCache.iCacheUpper = -1; //Means that all records are in Cache
            } else {
            	oCache.iCacheUpper = iRequestStart + (iRequestLength * iPipe);
            }                       
            oCache.iDisplayLength = fnGetKey( aoData, 'iDisplayLength' );
            
            if (iRequestLength == -1) {
            	fnSetKey( aoData, 'iDisplayStart', "None" );
            	fnSetKey( aoData, 'iDisplayLength', "None" );
            } else {
            	fnSetKey( aoData, 'iDisplayStart', iRequestStart );
            	fnSetKey( aoData, 'iDisplayLength', iRequestLength * iPipe );
            }
            	

            $.getJSON( sSource, aoData, function (json) {
                /* Callback processing */
                oCache.lastJson = jQuery.extend(true, {}, json);
                if ( oCache.iCacheLower != oCache.iDisplayStart ) {
                    json.aaData.splice( 0, oCache.iDisplayStart - oCache.iCacheLower );
                }
                json.aaData.splice( oCache.iDisplayLength, json.aaData.length );
                fnCallback(json)
            } );
        } else {
        	if (!oCache.iCacheInitialized) {
        		json = {
        			SaveData: false //Prevents the table being redraw
        		}
        		oCache.iCacheInitialized = true;
	        	json.sEcho = sEcho; /* Update the echo for each response */	 
	        	fnCallback(json);        		
        	} else {
	            json = jQuery.extend(true, {}, oCache.lastJson);            
	            json.aaData.splice( 0, iRequestStart - oCache.iCacheLower );
	            json.aaData.splice( iRequestLength, json.aaData.length );
	        	json.sEcho = sEcho; /* Update the echo for each response */	 
	        	fnCallback(json);
        	}
            return;
        }
    }
  {{pass}}

    $('#list').dataTable({
        'bStateSave': true,
        'aoColumns': ColumnSettings,
  {{try:}}
    {{if sortby:}}
        'aaSorting': {{=XML(sortby)}},
    {{else:}}
    {{pass}}
  {{except:}}
  {{pass}}
  {{try:}}
  	//Allow dataTables.html to be used outside of CRUD
    {{jr}}
    {{if not response.s3.no_sspag:}}
        'bFilter': true,
        'bSort': true,
        'sPaginationType': 'full_numbers',
        'aLengthMenu': [[10, 25, 50, -1], [10, 25, 50, '{{=T("All")}}']],
        'iDisplayLength': DataTableDisplayRows,
        'bProcessing': true,
        //'bServerSide': false,
        //'sAjaxSource': null'{{=jr.there(representation="aaData")}}',
        'fnServerData': fnDataTablesPipeline,
        'fnInitComplete': function(oSettings ) {
        	oSettings.oFeatures.bServerSide = true;
        	oSettings.sAjaxSource = '{{=jr.there(representation="aaData")}}';
        },         	
    {{pass}}
  {{except:}}
  {{pass}}
  {{if response.s3.actions:}}
    // Set the action buttons in the id (first) column for each row
        'fnRowCallback': function( nRow, aData, iDisplayIndex ) {
            Actions = {{=XML(response.s3.actions)}};
            Buttons = '';
            // Loop through each action to build the button
            for (i=0; i < Actions.length; i++) {
                $('th:eq(0)').css( { 'width': 'auto' } );
                // Extract the id # from the link
                var re = />(.*)</i;
                id = re.exec(aData[0])[1];
                c = Actions[i]._class
                re = /%5Bid%5D/g;
                Buttons = Buttons + '<a class="'+ c +'" href="' + Actions[i].url.replace(re, id) + '">' + Utf8.decode(Actions[i].label) + '</a>' + '&nbsp;';
            }
            // Set the first column to the action buttons
            $('td:eq(0)', nRow).html( Buttons );
            return nRow;
        }
  {{pass}}
    });
    jQuery('.delete-btn').live('click', function(event) {
        if(confirm('{{=T("Sure you want to delete this object?")}}')) {
            return true;
        } else {
            event.preventDefault();
            return false;
        }
    });
});
//]]></script>
