<div id="list_formats">
  <a href="{{=response.s3.formats.pdf or URL(r=request, args=request.args, vars={'format':'pdf'})}}" title="{{=T('Export in PDF format')}}"><img src="/{{=request.application}}/static/img/pdficon_small.gif"/></a>
  <a href="{{=response.s3.formats.xls or URL(r=request, args=request.args, vars={'format':'xls'})}}" title="{{=T('Export in XLS format')}}"><img src="/{{=request.application}}/static/img/icon-xls.png"/></a>
  <a href="{{=response.s3.formats.rss or URL(r=request, args=request.args, vars={'format':'rss'})}}" title="{{=T('Export in RSS format')}}"><img src="/{{=request.application}}/static/img/RSS_16.png"/></a>
{{try:}}
{{test = db['%s_%s' % (request.controller, request.function)].location_id}}
  <a href="{{=response.s3.formats.kml or URL(r=request, args=request.args, vars={'format':'kml'})}}" title="{{=T('Export in KML format')}}"><img src="/{{=request.application}}/static/img/kml_icon.png"/></a>
{{except:}}
{{pass}}
{{if 'map' in response.s3.formats:}}
  <a href="{{=response.s3.formats.map}}" title="{{=T('Show on map')}}"><img src="/{{=request.application}}/static/img/map_icon.png"/></a>
{{pass}}
</div>