<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{try:}}{{=title}}{{except:}}{{pass}}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{{if response.refresh:}}{{=XML(response.refresh)}}{{pass}}
{{if session.s3.debug:}}
  {{include 'sahana_scripts_debug.html'}}
  {{include 'sahana_styles_debug.html'}}
{{else:}}
  {{include 'sahana_scripts_min.html'}}
  <link href="/{{=request.application}}/static/styles/S3/{{=session.s3.theme}}.min.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
</head>
<body>

<div id="header">
	<h1>The Perfect Full Page Liquid Layout</h1>
	<h2>No CSS hacks. SEO friendly. No Images. No JavaScript. Cross-browser &amp; iPhone compatible.</h2>
	<ul>
		<li><a href="http://matthewjamestaylor.com/blog/perfect-3-column.htm">3 Column <span>Holy Grail</span></a></li>
		<li><a href="http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm" class="active">2 Column <span>Left Menu</span></a></li>
		<li><a href="http://matthewjamestaylor.com/blog/perfect-full-page.htm">1 Column <span>Full Page</span></a></li>
    </ul>
	<p></p>
  <div id="menu">
   {{=MENU(response.menu_auth)}}
  </div>
</div>

<div class="colmask fullpage">
	<div class="col1">
      {{if response.error:}}<div class="error">{{=response.error}}</div>{{pass}}
      {{if response.warning:}}<div class="warning">{{=response.warning}}</div>{{pass}}
      {{if response.information:}}<div class="information">{{=response.information}}</div>{{pass}}
      {{if response.confirmation:}}<div class="confirmation">{{=response.confirmation}}</div>{{pass}}
      {{if response.flash:}}<div class="confirmation">{{=response.flash}}</div>{{pass}}
      {{include}}
	</div>
</div>

<div id="footer">
  {{include 'themes/' + session.s3.theme + '/footer.html'}}
</div>

</body>
</html>
