<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{try:}}{{=title}}{{except:}}{{pass}}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{{if response.refresh:}}{{=refresh}}{{pass}}
{{if session.s3.debug:}}
  {{include 'sahana_scripts_debug.html'}}
  {{include 'sahana_styles_debug.html'}}
{{else:}}
  {{include 'sahana_scripts_min.html'}}
  <link href="/{{=request.application}}/static/styles/S3/sahana.min.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
</head>
<body>
<div id="container">
 <div id="header" class="clearfix">
  <div id="menu">
   {{=MENU(response.menu_auth)}}
  </div>
</div>
</div>
<div id="wrapper" class="clearfix">
  <div id="wrapper_menu">
   <p id="skip">Jump to: <a href="#content">Content</a> | <a href="#modulemenu">Module Menu</a></p>
    <div id="modmenuwrap">
   {{try:}}
    {{=H2(module_name)}}
   {{except:}}
   {{pass}}
   {{if response.menu:}}
    {{=MENU(response.menu)}}
   {{pass}}
  <ul id="modmenu">
 {{try:}}
  {{for option in options:}}
   {{if not option.access or (option.access in session.s3.roles):}}
     {{if option.function=='submenu':}}
    <li>
  {{try:}}
   {{if ( session.menu_open.module_name == module_name ) and ( option.name in session.menu_open.open_menus ):}}
    <a class="smclose" title="{{=option.name}}" href="#">{{=T(option.name)}}</a>
    <ul id="{{=option.name}}" style="display: block;">
   {{else:}}
    <a class="smopen" title="{{=option.name}}" href="#">{{=T(option.name)}}</a>
    <ul id="{{=option.name}}" style="display: none;">
   {{pass}}
  {{except:}}
    <a class="smopen" title="{{=option.name}}" href="#">{{=T(option.name)}}</a>
    <ul id="{{=option.name}}" style="display: none;">
  {{pass}}
     {{elif option.function=='submenu/end':}}
    </ul>
    </li>
     {{else:}}
    <li>{{=A(T(option.name),_href=URL(r=request,f='open_option',vars=dict(id='%d'%option.id)))}}</li>
     {{pass}}
    {{pass}}
  {{pass}}
    </ul>
 {{except:}}
 {{pass}}
</ul>
  </div>
  <div id="menuwrap">
   <h2>{{=T("Modules")}}</h2>  
   <div id="optionsmenu">
    {{=MENU(response.menu_modules)}}
   </div>
  </div>
  </div>
  <div id="content" class="clearfix">
    {{if response.error:}}<div class="error">{{=response.error}}</div>{{pass}}
    {{if response.warning:}}<div class="warning">{{=response.warning}}</div>{{pass}}
    {{if response.information:}}<div class="information">{{=response.information}}</div>{{pass}}
    {{if response.confirmation:}}<div class="confirmation">{{=response.confirmation}}</div>{{pass}}
    {{if response.flash:}}<div class="confirmation">{{=response.flash}}</div>{{pass}}
    {{include}}
  </div>
  </div>
  <div id="footer" align="center">
    <p>
    <a class="help" target="_blank" href="http://sahana.lk" title="Sahana Home">Sahana</a> | 
    <a class="help" target="_blank" href="http://trac.sahanapy.org/wiki" title="SahanaPy Wiki">Wiki</a> | 
    <a class="help" target="_blank" href="http://www.sahana.lk/chat" title="Chat">{{=T("Chat on IRC")}}</a> | 
    <a class="help" target="_blank" href="https://trac.sahanapy.org/report" title="Report a Bug">{{=T("Report a Bug")}}</a>
    </p>
    <hr/>
    <p>
    <a target="_blank" href="http://www.web2py.com" title="Powered by Web2Py"><img src="/{{=request.application}}/static/img/button-web2py.png" width="80" height="15" alt="Powered by Web2Py" border="0" /></a>
    <a target="_blank" href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0"><img src="/{{=request.application}}/static/img/button-xhtml.png" width="80" height="15" alt="Valid XHTML 1.0" border="0" /></a>
    <a target="_blank" href="http://jigsaw.w3.org/css-validator/check/referer" title="Valid CSS"><img src="/{{=request.application}}/static/img/button-css.png" width="80" height="15" alt="Valid CSS" border="0" /></a>
    </p>
  </div>
 </div>
</body>
</html>
