<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{if session.s3.debug:}}
  {{include 'sahana_styles_debug.html'}}
  {{include 'sahana_scripts_debug.html'}}
{{else:}}
  <link href="/{{=request.application}}/static/styles/S3/sahana.min.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
  {{include 'sahana_scripts_min.html'}}
{{pass}}

<script type="text/javascript">//<![CDATA[
function TB_refresh() {
    // The Get parameters
    // ToDo: Make this less fragile by passing these fields as separate vars?
    var $_GET = getQueryParams(document.location.search);
    var caller = $_GET["caller"];
    var child_resource = '{{=request.function}}_id';
    var parent_field = caller.replace('_' + child_resource, '');
    var parent_module = parent_field.replace(/_.*/, '');
    var parent_resource = parent_field.replace(parent_module + '_', '');
    // URL to retrieve the Options list for the field of the master resource
    var url = '{{=URL(r=request, c='aaa', f='bbb')}}'.replace('aaa/bbb', parent_module + '/' + parent_resource);
    //var selectHTML = url + "/options.xml?field=" + child_resource;
    url += "/options.json?field=" + child_resource;
    if (self.parent.$('#' + caller + ' >option').length ) {
        // We have been called next to a drop-down
        // Get the previously selected value
        var selector = self.parent.$('#' + caller);
        //var selectedvalue = selector.attr("selectedIndex")+1;
        // Clean up the caller
        self.parent.$('#' + caller + ' >option').remove();
        $.getJSON(url, function (data) {
            var value, represent;
            var append = '';
            $.each(data['option'], function() {
                value = this['@value'];
                represent = this['$'];
                if(typeof represent === "undefined") {
                    represent = "";
                } 
                append += "<option value='" + value + "'>" + represent + "</option>";
            });
            selector.append(append);
            // Set the newly-created value (last in list)
            //selector.val(value);
            // IE6 needs time for DOM to settle: http://csharperimage.jeremylikness.com/2009/05/jquery-ie6-and-could-not-set-selected.html
            setTimeout(function() { selector.val(value); }, 1);
            // Also populate dummy, if present
            // - not needed, gets caught anyway, which is good as otherwise overwrites for other popups too!
            //self.parent.$('#dummy').val(represent);
            // Clean-up
            self.parent.tb_remove();
        });
    } else {
        // Clean-up
        self.parent.tb_remove();
    }
}
// Function to get the URL parameters
function getQueryParams(qs) {
// We want everything after the ?
    qs = qs.split('?')[1]
    var pairs = qs.split('&');
    var params = {};
    var check = [];
    for( var i = 0; i < pairs.length; i++ ) {
            check = pairs[i].split('=');
            params[decodeURIComponent(check[0])] = decodeURIComponent(check[1]);
        }
    return params;
}

// If submission succesful
{{if response.flash or response.confirmation:}}
// Refresh the DIV and close the pop up
TB_refresh();
{{pass}}

//]]></script>

</head>

<body>
{{include}}
</body>

</html>
