<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{if session.s3.debug:}}
  {{include 'sahana_scripts_debug.html'}}
  {{include 'sahana_styles_debug.html'}}
{{else:}}
  {{include 'sahana_scripts_min.html'}}
  <link href="/{{=request.application}}/static/styles/S3/sahana.min.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
<script type="text/javascript">
$(function() {
	if(self.opener){
    // bind form and provide a simple callback function 
    $('form').ajaxForm(function() {
        // refresh lookup list in parent window
        // FIXME: How to get it to keep the rest of the form fields? (Read them in & re-populate?)
        self.opener.location.reload(true);
        // find which ID we need to make active
        {{field = '%s_%s_%s' % (module, resource, main)}}
        value=$('input#{{=field}}').val();
        $.getJSON("{{=URL(r=request, c=module, f=resource, args=['search'], vars=dict(format='json', field=main, filter='='))}}"+"&value="+value,
        function(data){
            // set the caller's lookup list to the new ID
            self.opener.$('select#{{=caller}}').val(data[0].id);
            // close the popup
            self.close();
	    
        });
    });
}
//self.parent.tb_remove();
});
</script>
</head>
<body>
{{include}}
</body>
</html>
