{{extend 'layout_ext.html'}}

<script type="text/javascript">//<![CDATA[

<!-- List Grid -->
Ext.onReady(function() {
    
    var viewport = new Ext.Viewport({
        layout: 'border',
        items: [
        {{if session.s3.restricted:}}
        {{else:}}
            {
            region: 'north',
            autoLoad: '{{=URL(r=request, c='default', f='header')}}',
            //autoHeight: true,
            height: 70, // give north and south regions a height
            //html: '<h1 class="x-panel-header">{{=title}}</h1>',
            border: false,
            //margins: '0 0 5 0'
        }, {
            region: 'south',
            //title: 'Footer',
            autoLoad: '{{=URL(r=request, c='default', f='footer')}}',
            border: false,
            collapsible: true,
            split: true,
            height: 100,
            minHeight: 100
        },{{pass}}
        {
            //region: 'west',
            //collapsible: true,
            //title: 'Navigation',
            //width: 200
            // the west region might typically utilize a TreePanel or a Panel with Accordion layout 
        }, {
            //region: 'east',
            //title: 'Title for the Grid Panel',
            //collapsible: true,
            //split: true,
            //width: 200,
            //xtype: 'grid',
            // remaining grid configuration not shown ...
            // notice that the GridPanel is added directly as the region
            // it is not "overnested" inside another Panel
        }, {
            region: 'center',
            items: [
                {{if session.s3.restricted:}}
                {{else:}}
                {
                    autoLoad: '{{=URL(r=request, c='default', f='menu')}}',
                    height: 52,
                },
                {{pass}}
                {
                    title: '{{=title}}',
                    autoLoad: '{{=URL(r=request, c='default', f='list')}}',
                }
            ]
        }]
    });

	viewport.show();
    Ext.QuickTips.init();
    
});

//]]></script>
