{{extend 'layout.html'}}

<script type="text/javascript">//<![CDATA[
$(document).ready(function() {
	$('#list').dataTable();
} );
//]]></script>

{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<a href="{{=response.pdf or URL(r=request, args=request.args, vars={'format':'pdf'})}}"><img src="/{{=request.application}}/static/img/pdficon_small.gif"/></a>
<a href="{{=URL(r=request, args=request.args, vars={'format':'rss'})}}"><img src="/{{=request.application}}/static/img/RSS_16.png"/></a>
<a href="{{=response.xls or URL(r=request, args=request.args, vars={'format':'xls'})}}"><img src="/{{=request.application}}/static/img/icon-xls.png"/></a>
{{try:}}
 {{=H3(subtitle)}}
{{except:}}
{{pass}}
<div id='table-container'>
{{try:}}
 {{=items}}
{{except:}}
{{pass}}
</div>
<p>&nbsp;</p>
{{include 'pagenav.html'}}
{{include 'searchbox.html'}}
{{try:}}
 {{=add_btn}}
{{except:}}
{{pass}}
