<!--When in Debug mode we want each style to download separately-->

<!--Web2Py Layer-->
<link href="/{{=request.application}}/static/styles/web2py/calendar.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />

<!--T2 Layer-->
<link href="/{{=request.application}}/static/styles/T2/t2.css" rel="stylesheet" type="text/css" charset="utf-8" />
<!--
<link href="/{{=request.application}}/static/styles/T2/rating.css" rel="stylesheet" type="text/css" charset="utf-8" />
-->

<!--S3 Layer-->
{{if session.s3.cdn:}}
<!-- For Sites Hosted on the Public Internet, using Cachefly CDN's version of ExtJS may provide better performance -->
<link href="http://extjs.cachefly.net/ext-3.2.1/resources/css/ext-all.css" rel="stylesheet" type="text/css" charset="utf-8" />
{{else:}}
<!--Ext Stylesheet would need it's images moving if compressed up & relocated-->
<link href="/{{=request.application}}/static/scripts/ext/resources/css/ext-all.css" rel="stylesheet" type="text/css" charset="utf-8" />
{{pass}}
<link href="/{{=request.application}}/static/scripts/ext/resources/css/xtheme-gray.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/sahana.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.cluetip.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.jqplot.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.ui.core.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.ui.autocomplete.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.ui.theme.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/ajaxS3.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/s3.multiselect.widget.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.multiSelect.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/colorbox.css" rel="stylesheet" type="text/css" charset="utf-8" />
<!-- GIS -->
<link href="/{{=request.application}}/static/styles/gis/ie6-style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/google.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/geoext-all-debug.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/cdauth.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/gis.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/style.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
