<!--When in Debug mode we want each style to download separately-->

<!--Web2Py Layer-->
<link href="/{{=request.application}}/static/styles/web2py/calendar.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />

<!--T2 Layer-->
<link href="/{{=request.application}}/static/styles/T2/t2.css" rel="stylesheet" type="text/css" charset="utf-8" />
<!--
<link href="/{{=request.application}}/static/styles/T2/rating.css" rel="stylesheet" type="text/css" charset="utf-8" />
-->

<!--S3 Layer-->
<link href="/{{=request.application}}/static/styles/S3/sahana.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.cluetip.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/ui.core.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/ui.datepicker.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/ui.theme.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
