<link href="/{{=request.application}}/static/styles/S3/thickbox.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<script src="/{{=request.application}}/static/scripts/S3/thickbox.js" type="text/javascript" charset="utf-8"></script>

<div id='TB_closeCallBack'>
<script type="text/javascript">//<![CDATA[
function TB_refresh(caller){
    var resource = caller.replace(/{{=module}} + '_' + {{=resource}} + '_'/, '');
    var url = "{{=URL(r=request, c=module, f=resource)}}"
    // Refresh the SELECT DIV which called the popup
    // FIXME
    $.getJSON(url.replace(/{{=resource}}$/, resource) + ".json",
        function(data){
            var html = '';
            $.each(data, function(i) {
                    html += '<option value="' + data[i].id + '">' + data[i].name + '</option>'
                }
            $('select#' + caller).html(html);
        });
    return false;
}
function TB_select(caller){
            // Set the lookup list to the new ID
            // FIXME
            //$('select#' + caller).val(data[0].id);
}
function TB_closeCallBack(){
    //window.location.reload(true);
}
//]]></script>
</div>