
<script src="/{{=request.application}}/static/scripts/sfmenu.js"></script>

<!--
<link href="/{{=request.application}}/static/styles/sfmenu.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
-->
<script src="/{{=request.application}}/static/scripts/fancyzoom.min.js"></script>
<link charset="utf-8" href="/{{=request.application}}/static/styles/rating.css" rel="stylesheet" type="text/css" />

















<script src="/{{=request.application}}/static/scripts/rating.js"></script>
<script>$(document).ready(function(){





























try { $('.zoom').fancyZoom({scaleImg:true, closeOnClick:true, directory:"/{{=request.application}}/static/media"}); } catch(e) {};
try { $('.sf-menu').superfish({ animation: {height:'show'}, delay:500 }); } catch(e) {};


});
</script>

