{{extend 'layout.html'}}
<div id="delphi_problem_header">
	{{ if authorised: }}<a href="{{= URL(r=request, f='problem', args=['update', problem.id]) }}">{{= T("Edit")}}</a>
	{{ pass }}
	<a href="{{= URL(r=request, f='discuss', args=problem.id) }}">{{= T("Discussion Forum") }}</a>
	<a href="{{= URL(r=request, f='status', args=problem.id) }}">{{= T("Scale of Results") }}</a>
	<a href="{{= URL(r=request, f='vote', args=problem.id) }}">{{= T("Vote") }}</a>
	<strong>{{= T("Options") }}</strong>
<h1>{{= problem.title }}</h1>
</div>
<p><b>{{= T("Description")}}:</b> {{= problem.description }}</p>
<p><b>{{= T("Criteria")}}:</b> {{= problem.criteria }}</p>
<hr/>
<p>{{= T("List of Items:")}}</p>
<ul class="delphi_wide">
{{ for item in items: }}
	<li>{{= item.title }}{{ if authorised: }} <a href="{{= URL(r=request, f='solution_item', args=['update', item.id]) }}">({{= T("edit")}})</a>{{ pass }}</li>
{{ pass }}
</ul>
{{ if can_vote: }}
<form action="{{= URL(r=request, f='summary', args=problem.id) }}" method="post">
	<p><label>New Item: <input name="item_title"/></label> <input type="submit" value="Add"/></p>
</form>
<p><a href="{{= URL(r=request, f='vote', args=problem.id) }}">{{= T("Vote") }}</a></p>
{{ pass }}
<script type="text/javascript" language="javascript">//<![CDATA[
$(document).ready(function(){
	var can_vote = {{=(can_vote and "true" or "false")}};
	$("#delphi_pairs tr:even").css({background: "#ccc"});
	$(".bkclear").css({background: "none"});
});
//]]></script>
