{{extend 'layout.html'}}

{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<p><b>Key:</b><b class='red'> * </b> - Fields tagged with a star &#040;<span class='red'> * </span>&#041; are mandatory and must be filled.</p>
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
<p>&nbsp;</p>
</div>
{{=A(T("Add Contact"),_href=URL(r=request,c='default',f='add_contact'))}}
<p>&nbsp;</p>
{{=A(T("Add Feature"),_href=URL(r=request,c='gis',f='add_feature'))}}
<p>&nbsp;</p>
{{=A(T("List Organisations"),_href=t2.action('list_organisations'))}}
<!-- Could convert to a dynamic call to add data to this div -->
<div id='list'></div>
