{{extend 'layout.html'}}
{{include '_create.html'}}
<script type="text/javascript">//<![CDATA[

{{include 'or/offices_by_org.js'}}

$(function() {
    // Person AutoComplete
    // Hide the real Input Field
    $("#or_contact_person_id").hide();
    
    // Add a dummy field
    $("#or_contact_person_id").after("<input id='dummy_person' class='ac_input' size=50 />");

    {{include 'pr/person_autocomplete.js'}}

    // Populate the real Input when the Dummy is selected
    $("#dummy_person").result(function(event, data, formatted) {
        var newvalue = data.id;
        $("#or_contact_person_id").val(newvalue);
    }); 
    
    // Organisation AutoComplete
    // Hide the real Input Field
    $("#or_contact_organisation_id").hide();
    
    // Add a dummy field
    $("#or_contact_organisation_id").after("<input id='dummy_organisation' class='ac_input' size=50 />");

    {{dummy_input = "dummy_organisation"}}
    {{urlpath_c = "or"}}
    {{urlpath_f = "organisation"}}
    {{urlvar_field = "name"}}
    {{include 'autocomplete.js'}}

    // Populate the real Input when the Dummy is selected
    $("#dummy_organisation").result(function(event, data, formatted) {
        var newvalue = data.id;
        $("#or_contact_organisation_id").val(newvalue);
        // Load offices just for that Org
        load_offices(false);
    }); 

    // Office AutoComplete
    // Hide the real Input Field
    $("#or_contact_office_id").hide();
    // the default will be re-used upon Add Office click    
    default_office_options = "<option value=''>{{=T('Select an Organization to see a list of offices')}}</option>";
    // Add a dummy field
    $("#or_contact_office_id").after("<select id='dummy_office' class='reference'>"+ default_office_options + "</select>");

    {{dummy_input = "dummy_office"}}
    {{urlpath_c = "or"}}
    {{urlpath_f = "office"}}
    {{urlvar_field = "name"}}
    {{include 'autocomplete.js'}}

    // Populate the real Input when the Dummy is selected
    copy_office_id = function(event){
        var newvalue = $("#dummy_office option:selected").val();
        $("#or_contact_office_id").val(newvalue);
    };
    $("#dummy_office").change(copy_office_id); 
    
    // Re-set organization and office when Add Office button is clicked
    // The User will have to refresh the organisation and office list to see the updates
    /*reset_org_office = function(event){
        $("#or_contact_organisation_id").val('');
        $("#or_contact_office_id").val('');
        $('#dummy_office').html(default_office_options); 
        $("#dummy_organisation").val('');
    };*/
    cleanup = function(id){
        if(id == "or_contact_office_id"){
            load_offices(true);
        }
    }
});
//]]></script>

