{{extend 'layout.html'}}
{{include 'thickbox.html'}}

<script type="text/javascript">//<![CDATA[
$(document).ready(function() {
	$('#or_organisation_name__row').hide()
});
//]]></script>

<p>
<TABLE><TR id='but_add_org'><TD>{{=but_add_org}}</TD></TR></TABLE>
<br/>
<TABLE><TBODY><TR><TD><LABEL>{{=T("Name:")}}&nbsp</LABEL></TD><TD>{{=organisation_select}}</TD><TD/></TR></TBODY></TABLE>
{{=org_details}}
<TABLE><TR id='but_edit_org'><TD>{{=but_edit_org}}</TD></TR></TABLE>
</p>
<p>

<br/><TABLE><TR id='but_add_office'><TD><strong>{{=T("Offices:")}}&nbsp</TD></strong><TD>{{=but_add_office}}</TD></TR></TABLE>
<DIV class='item-container'>{{=office_list}}</DIV>
</p>
<p>
<TABLE><TR id='but_add_contact'><TD><strong>{{=T("Contacts:")}}&nbsp</TD></strong><TD>{{=but_add_contact}}</TD></TR></TABLE>
{{=contact_list}}
</p>
<p>
<TABLE><TR id='but_add_project'><TD><strong>{{=T("Projects:")}}&nbsp</TD></strong><TD>{{=but_add_project}}</TD></TR></TABLE>
{{=project_list}}
</p>
<script type="text/javascript">//<![CDATA[

$(function() {
    $("#organisation_select").change(function () { 		
		//new_url = "Test" //{{=URL(r=request,c="or", f="dashboard")}} 
        //alert("changed: " + new_url + $("select").val()); //This is a bit of a hack, as iot may break if there is more than one select
		window.location.replace("{{=URL(r=request, c="or", f="dashboard")}}/?name=" + $("select").val());
    });
});
{{if response.flash or response.confirmation:}}
// Refresh the DIV and close the pop up
self.parent.tb_remove();
{{pass}}
//]]></script>