{{extend 'layout_popup.html'}}
{{include '_popup.html'}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function () {
    $("#or_office_organisation_id").val("{{=request.vars.organisation_id}}");
    if($("#or_office_organisation_id").val() != 'None')
        $("#or_office_organisation_id__row").hide();
});
//]]></script>
<script type="text/javascript">//<![CDATA[
$(function() {
    {{entity_id = "or_office_organisation_id"}}
    {{urlpath_c = "or"}}
    {{urlpath_f = "organisation"}}
    {{urlvar_field = "name"}}
    {{if session.s3.organisation_name:}}
        {{default_value = session.s3.organisation_name}}
    {{pass}}
    {{include 'auto_input.js'}}
});

// If submission succesful
{{if response.flash or response.confirmation:}}
    // Refresh the office list
    var url = '{{=URL(r=request, c='or', f='dashboard') + '/' + str(session.s3.organisation_id)}}';    
    self.parent.$("#or_office_list").load(url + " #or_office_list"); 
{{pass}}
//]]></script>

