{{extend 'layout.html'}}

<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T("System is a database to keep track of all aid items and supplies kept in your Organization's inventories. It not only keeps track of the location and quantities of items available, but it also tracks expiry dates, re-order levels and items in transit. The system is designed to be simple to a diverse groups of users to interact and manage stocks in inventories located around the region.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li><a>{{=T("Find Items")}}:</a><br/>
{{=T("Enables end user to search items available in warehouses. End-User is also allowed to search available items, expired items and already destroyed items.")}}</li>
<li><a>{{=T("List Inventories")}}:</a><br/>
{{=T("Facilitates to manage multiple Inventories and enables end-user to add,edit or delete Inventories.")}}</li>
</ul>
<strong>{{=T("Description of Actions")}}:</strong><br/>
<ul>
{{for option in options:}}
{{if option.function=="index":}}
{{else:}}
<li>{{=A(T(option.name),_href=URL(r=request,f='open_option?id=%s'%option.id))}}</li>
{{pass}}
{{pass}}
</ul>
</div>
