/* GIS module */
.olControlMousePosition { font-size: 10px; }

/* Toolbar */
.zoomfull {
    background-image:url(../../img/gis/mapfish/icon_zoomfull.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomin {
    background-image:url(../../img/gis/mapfish/icon_zoomin.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomout {
    background-image:url(../../img/gis/mapfish/icon_zoomout.png) !important;
    height:20px !important;
    width:20px !important;
}
.pan-off {
    background-image:url(../../img/gis/mapfish/icon_pan.png) !important;
    height:20px !important;
    width:20px !important;
}
.measure-off {
  background-image: url(../../img/gis/measuring-stick-off.png) !important;
  height: 20px !important;
  width: 20px !important;
}
.modifyfeature {
    background-image:url(../../img/gis/mapfish/move_vertex_off.png) !important;
    height:20px !important;
    width:20px !important;
}
.drawpoint-off {
  background-image:url(../../img/gis/add_point_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawline-off {
  background-image:url(../../img/gis/mapfish/draw_line_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawpolygon-off {
  background-image:url(../../img/gis/mapfish/draw_polygon_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.info {
  background-image:url(../../img/gis/mapfish/info.png) !important;
  height:20px !important;
  width:20px !important;
}
.searchclick {
    background-image:url(../../img/ext/information.png) !important;
    height:20px !important;
    width:20px !important;
}
.searchbox {
    background-image:url(../../img/ext/information-box.png) !important;
    height:20px !important;
    width:20px !important;
}
.back {
    background-image:url(../../img/gis/mapfish/resultset_previous.png) !important;
    height:20px !important;
    width:20px !important;
}
.next {
    background-image:url(../../img/gis/mapfish/resultset_next.png) !important;
    height:20px !important;
    width:20px !important;
}
.save {
    background-image:url(../../img/ext/save.gif) !important;
    height:20px !important;
    width:20px !important;
}

/*
.mf-print-action {
    background-image:url(../../img/gis/mapfish/printer.png) !important;
}
.pan-on{
    background-image:url(../../img/gis/openlayers/theme_default/pan_on.png) !important;
    height:20px !important;
    width:20px !important;
}
.drawpoint-on {
  background-image:url(../../img/gis/openlayers/theme_default/add_point_on.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawline-on {
  background-image:url(../../img/gis/openlayers/theme_default/draw_line_on.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawpolygon-on{
  background-image:url(../../img/gis/openlayers/theme_default/draw_polygon_on.png) !important;
  height:20px !important;
  width:20px !important;
}
.measure-on {
  background-image: url(../../img/gis/measuring-stick-on.png) !important;
  height: 20px !important;
  width: 20px !important;
}
*/
 
/* Popups */
/*
.gis_openlayers_popupbox { padding: 10px; }
.gis_openlayers_popupbox_header {}
.gis_openlayers_popupbox_header_l { font-size: 0.8em; }
.gis_openlayers_popupbox_header_l label { float: left; margin-right: 2px; position: relative; top: 0.4em; width: 3em; }
.gis_openlayers_popupbox_name span { font-size: 1.8em; font-weight: bold; }
.gis_openlayers_popupbox_link { float: left; margin-left: 5px; width: 17px; height: 17px; background: transparent url(../../img/link.png) no-repeat scroll 0% 0%; }
.gis_openlayers_popupbox_url { margin-top:5px; }
.gis_openlayers_popupbox_header_r { float: right; font-size: 0.8em }
.gis_openlayers_popupbox_date { float: right; margin-top:5px; }
.gis_openlayers_popupbox_address { clear: both; margin-top:20px; }
.gis_openlayers_popupbox_body { clear: both; margin-top:10px; min-height: 105px }
.gis_openlayers_popupbox_footer { clear: both; margin-top:10px; }
.gis_openlayers_popupbox_footer span { float: left; cursor: pointer }
.gis_openlayers_popupbox_delete { float: left; width: 17px; height: 17px; background: transparent url(../../img/gis/page_white_delete.png) no-repeat scroll 0% 0%; }
.gis_openlayers_popupbox_edit { float: left; margin-left: 10px; width: 17px; height: 17px; background: transparent url(../../img/gis/page_white_edit.png) no-repeat scroll 0% 0%; }
.gis_openlayers_popupbox_view { float: left; margin-left: 10px; width: 17px; height: 17px; background: transparent url(../../img/gis/page_white_find.png) no-repeat scroll 0% 0%; }
.gis_openlayers_popupbox_refresh { float: left; margin-left: 10px; width: 17px; height: 17px; background: transparent url(../../img/gis/page_white_refresh.png) no-repeat scroll 0% 0%; }
span.gis_openlayers_popupbox_refreshs{ float: right; }
.gis_openlayers_popupbox_edit_ok { float: left; margin-left: 15px; width: 17px; height: 17px; background: transparent url(../../img/tick.png) no-repeat scroll 0% 0%; }
.gis_openlayers_popupbox_edit_cancel { float: left; width: 17px; height: 17px; background: transparent url(../../img/cross2.png) no-repeat scroll 0% 0%; }
 */