.olLayerGoogleCopyright {
    /* Ignored now
    right: 3px;
    bottom: 2px;
    left: auto;
    */
    /* Stupid annoying popup with duplicate info! */
    visibility: hidden;
}
.olLayerGooglePoweredBy {
    /* Keep clear of our MousePointer */
    right: 100px;
    bottom: 2px;  
}
