.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}
/*
.olLayerGoogleCopyright {
    right: 3px;
    bottom: 2px;
    left: auto;
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 2px;   
}
*/