{{extend "layout.html"}}
{{include "_update.html"}}
<P>&nbsp;</P>
{{=A(T("Create Request"), _class="action-btn colorbox", _href=URL(r=request, c="rms", f="req", args="create", vars={"format":"popup", "caller":"cr_shelter"}), _title=T("Add Request"))}}
<script type="text/javascript">//<![CDATA[
$(function() {
    // Person AutoComplete
    // Hide the real Input Field
    $('#cr_shelter_person_id').hide();
    // Add a dummy field
    $('#cr_shelter_person_id').after("<input id='dummy_cr_shelter_person_id' class='ac_input' size=50 />");
    {{dummy_input = "dummy_cr_shelter_person_id"}}
    {{include "pr/person_autocomplete.js"}}
    // Populate the real Input when the Dummy is selected
    $('#dummy_cr_shelter_person_id').result(function(event, data, formatted) {
        var newvalue = data.id;
        $('#cr_shelter_person_id').val(newvalue);
    });
    
    // Location AutoComplete
    {{location_id = "cr_shelter_location_id"}}
    {{include "gis/location_autocomplete.js"}}
});
//]]></script>
