# Crontab
@reboot root *applications/sahana/cron/daemonX.py
#*/5   *       *       *       *       root *msg/email_send
#*/5   *       *       *       *       root web2py.exe -S sahana/msg/email_send
*/5   *       *       *       *       root python web2py.py -S sahana/msg/email_send
*/15  *       *       *       *       root *applications/sahana/cron/email_receive.py
