{{extend 'layout.html'}}

<script type="text/javascript">//<![CDATA[
$(function() {
    // Set the Crud dropdown to the current Kit
    var options = '<option value="' + {{=kit}} + '"></option>';
    $("#budget_kit_item_kit_id").html(options);
    // Hide the dropdown
    $("#budget_kit_item_kit_id__row").hide();
    });
function make_remove_item() {
    $(document).ready(function() {
    $('input.remove_item').click(function(){
        if(confirm("{{=T("Sure you want to remove this item?")}}")) {
          $.ajax({ url: "{{=URL2(r=request)}}/kit_remove_item/"+$(this).attr("name")+"/"+$(this).attr("id")+"?format=ajax",  cache: false,  success: function(html){ $("div#list-container").html(html); make_remove_item(); }});
        }
        return false;
    });
  });
}
make_remove_item();

//]]></script>

{{include 'budget/kit_item_header.html'}}

{{=P(A(T("Edit Description"),_href=URL(r=request,f='kit',args=('update',kit))))}}

{{try:}}
 {{=H3(subtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
<div id='table-container'>
{{try:}}
 {{=items}}
{{except:}}
{{pass}}
</div>
</div>
<p>&nbsp;</p>
{{try:}}
 {{=H3(addtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
</div>
{{include 'key.html'}}
