{{extend 'layout.html'}}

<script type="text/javascript">//<![CDATA[
$(function() {
    // Set the Crud Kit dropdown to the current Kit
    var options = '<option value="' + {{=kit}} + '"></option>';
    $("#budget_kit_item_kit_id").html(options);
    // Hide the dropdown
    $("#budget_kit_item_kit_id__row").hide();
    });
//]]></script>

{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
{{try:}}
 {{=P(description)}}
{{except:}}
{{pass}}
<div id='table-container'>
{{try:}}
 {{=list}}
{{except:}}
{{pass}}
</div>
<p>&nbsp;</p>
{{try:}}
 {{=H3(addtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
</div>
{{include 'key.html'}}
