{{extend 'layout.html'}}

<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T("System is a central online repository where all relief organizations, relief workers, government agents and camp sites for displaced personnel can coordinate the supply of aid with their demand. It allows users to allocate the available resources to fulfill the demands effectively and efficiently.")}} 
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Basic information on the requests and donations, such as category, the units, contact details and the status.")}}</li>
<li>{{=T("Customisable category of aid")}}</li>
<li>{{=T("Filtered search of aid pledges and requests")}}</li>
<li>{{=T("Ability to track partial fulfillment of the request")}}</li>
</ul>
<strong>{{=T("Description of Actions")}}:</strong><br/>
<ul>
 <li>{{=T('See left-hand menu')}}
</ul>
</div>
