{{extend 'layout.html'}}
{{include 'ext.html'}}
<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/css/Ext.ux.grid.RowActions.css"/>
<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/css/icons.css"/>
<link rel="stylesheet" type="text/css" href="../static/scripts/S3importer/css/importer.css"></link>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/Ext.ux.grid.RowActions.js"></script>
<h1>Spreadsheet importer - Report</h1>

<hr/>
<hr/>
</script>
<script type="text/javascript">
	var success = {{=len(session.invalid_rows)}};
	var invalid_rows = {{=session.invalid_rows}};
	var number_column = {{=session.import_columns}};
	var map = {{=session.import_map}};
	console.log(map);
	var resource = "{{=session.import_resource}}";
	var url = "{{=request.env.http_host}}";
	var application = "{{=request.application}}";

</script>
<script type="text/javascript" src="../static/scripts/S3importer/re_import.js"></script>
<div id = "spreadsheet"></div>

<b>Debug information</b>
{{=BEAUTIFY(session)}}
