{{extend 'layout.html'}}
{{include 'ext.html'}}

<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/Ext.ux.MultiSelect.css"/>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/CheckColumn.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/Ext.ux.MultiSelect.js"></script>
<script type="text/javascript">{{include 'importer/import.js'}}</script>
<script type="text/javascript">{{include 'importer/view4.js'}}</script>
<script type="text/javascript">{{include 'importer/view3.js'}}</script>
<script type="text/javascript">{{include 'importer/view2.js'}}</script>
<script type="text/javascript"> {{include 'importer/view1.js'}}</script>


</script>
<div class="confirmation" id="message1">Welcome to the spreadsheet importer. Make sure you have a row with column headers. You can edit cells, and and remove rows in this view.</div>
<div id="message2" class="hide" >Select header row, the row which has titles of each column in the spreadsheet</div>
<div id="message3" class="hide">Select a single table to import the spreadsheet to</div>
<div id="message4" class="hide"> Map columns in the spreadsheet to fields in teh table</div>
<div  id="spreadsheet" ></div>
