{{extend 'layout.html'}}
<div id="home">
{{=H2(module_name)}}
<div style="margin:20px auto; width:96%; max-width:1000px;" >
    <div style="width:100%; float:left;">
        {{=H4(T("Search for a Person"))}}
        {{try:}}{{=form}}{{except:pass}}
        <div><br /></div>
        <div id='table-container'>
            {{try:}}
            {{=items}}
            {{except:}}
            {{pass}}
        </div>
        <p>&nbsp;</p>
        {{try:}}
        {{=add_btn}}
        {{except:}}
        {{pass}}
        {{include 'dataTables.html'}}
    </div>
</div>
</div>