<!-- File to be included in a form which needs to be able to add a new feature to the database via map entry -->

<!--
    ol_js_loaders.html <- done
    ol_toolbar1.html <- replaced by MapFish toolbar: mf_toolbar.html
    ol_start_vars.js <- done
    ol_layers_all.js <- done
    ol_layers_features();
    ol_controls.js
    // Need to merge with mf_toolbar.js (ol_controls_add_edit.js is alt for map_viewing_client.html)
    ol_controls_add.js
    // Called to end the onload function
    ol_onload_fin.js
    ol_add_feature('Feature', $icon);
    _ol_generate_add_feature();
    ol_functions.js <- done
    ol_status.html <- done
-->

{{include 'gis/ol_js_loaders.html'}}

{{include 'gis/ol_start_vars.js'}}

function centerMap() {
	if (!centered) {
		this.setCenter(point.transform(proj4326, this.getProjectionObject()), zoom);
		centered = true;
	}
}

function addLayers(map) {
    {{include 'gis/ol_layers_all.js'}}
}

{{include 'gis/ol_vector_registerEvents.js'}}

{{include 'gis/mf_toolbar.js'}}

{{include 'gis/ol_functions.js'}}

<div id="center"></div>
<div id="south">
{{include 'gis/ol_status.html'}}
</div>
