<!-- File to be included in a form which needs to be able to add a new feature to the database via map entry -->

<!--
    ol_js_loaders.html
    ol_toolbar1.html <- replaced by MapFish toolbar: mf_toolbar.html
    ol_start_vars.js
    ol_layers_all.js
    ol_layers_features();
    ol_controls.js
    ol_controls_add.js
    // Called to end the onload function
    ol_onload_fin.js
    ol_add_feature('Feature', $icon);
    _ol_generate_add_feature();
    ol_functions.js
    ol_status.html
-->
