<div class='toolbar-container'>
<table>
<tr><td class='btn-panel'>
{{if auth.has_membership(1):}}
 <a id="configs-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='config', args=['1', 'update'])}}">
{{else:}}
 <a id="configs-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='config', args=['1', 'display'])}}">
{{pass}}
{{=T("Defaults")}}
</a></td>
<td class='btn-panel'>
<a id="features-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='location')}}">
{{=T("Locations")}}
</a></td>
<td class='btn-panel'>
<a id="feature_classes-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='feature_class')}}">
{{=T("Feature Classes")}}
</a></td>
<td class='btn-panel'>
<a id="feature_groups-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='feature_group')}}">
{{=T("Feature Groups")}}
</a></td>
<td class='btn-panel'>
<a id="keys-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='apikey')}}">
{{=T("Keys")}}
</a></td>
<td class='btn-panel'>
<a id="layers-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='map_service_catalogue')}}">
{{=T("Layers")}}
</a></td>
<td class='btn-panel'>
<a id="markers-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='marker')}}">
{{=T("Markers")}}
</a></td>
<td class='btn-panel'>
<a id="projections-btn" class="toolbar-link" href="{{=URL(r=request, c='gis', f='projection')}}">
{{=T("Projections")}}
</a></td>
</tr>
</table>
</div>