<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{if session.s3.debug:}}
  {{include 'sahana_styles_debug.html'}}
  {{include 'sahana_scripts_debug.html'}}
{{else:}}
  <link href="/{{=request.application}}/static/styles/S3/sahana.min.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
  {{include 'sahana_scripts_min.html'}}
{{pass}}

<script type="text/javascript">//<![CDATA[
var calcDone = false;   // to track for finish button
var answer;             // lets have a global answer to fill back using 1 function

function convertDD() {
    // Convert Degrees Minutes Seconds to Decimal Degrees
	var deg = document.inDDMMSS.form1_dd.value;
	var min = document.inDDMMSS.form1_mm.value;
	var sec = document.inDDMMSS.form1_ss.value;
    
	if (deg == "" || min == "" || sec == ""){
			alert("Enter a value for DD MM or SS.");
	}

	else if (deg > 180 || deg < 0){
			alert("Enter a value less than 180 or greater than 0.");
	}
	else if (min > 60 || min < 0){
			alert("Enter a value less than 60 or greater than 0 for minutes.");
	}
	else if (sec > 60 || sec < 0){
			alert("Enter a value less than 60 or greater than 0 for seconds.");
	}

	else {
		var dec_min = (min*1.0 + (sec/60.0));
		answer = deg*1.0 + (dec_min/60.0);
		document.inDDMMSS.form1_dec.value=answer;
        calcDone = true;
	}
}

function convertGps() {
	// Convert GPS Coordinates to Decimal Degrees
	var deg = 0;
	var min = 0;
	deg = document.inGPScoord.form3_gpsdeg.value;
	min = document.inGPScoord.form3_gpsmin.value;

	if (deg == "" || min == ""){
			alert("Enter a value for GPS degrees or GPS min.");
	}
	else if (deg > 180 || deg < 0){
			alert("Degrees should be greater than 0 and less than 180.");
	}
	else if (min > 60 || min < 0){
				alert("Minutes should be greater than 0 and less than 60.");
	}
	else {
        answer = (deg*1.0) + min/60.0;
		document.inGPScoord.form3_dec.value = answer;
        calcDone = true;
	}
}

function convertFillBack(whereto) {
    //
    // To fill back calculated stuff into page in background
    if (calcDone == true) {
        if (whereto == 1) {
            self.parent.$("#gis_location_lat").attr("value",answer);
        } else {
            self.parent.$("#gis_location_lon").attr("value",answer);
        }
        
        self.parent.tb_remove_last();
    } else {
        alert ("You haven't made any calculations.");
    }
}
//]]></script>

<script language="javascript" type="text/javascript">
$(document).ready(function(){
    // When a link is clicked
    $("a.tab").click(function () {

        // switch all tabs off
        $(".active").removeClass("active");

        // switch this tab on
        $(this).addClass("active");

        // slide all content up
        $(".gps_content").slideUp();

        // slide this content up
        var content_show = $(this).attr("title");
        $("#"+content_show).slideDown();
    });
});
</script>

<!--ToDo: Move to main template.css -->
<style type="text/css">
    #gps_content_1 {
        display:none;
    }

    .gps_content form table{
        -moz-box-shadow: 1px 1px 15px #000;
        -webkit-box-shadow: 1px 1px 15px #000
    }

    .tabs li {
        display:inline-block;
        padding:5px 20px;
        background:#ffffff;
        -moz-box-shadow: 1px 1px 5px #000;
        -webkit-box-shadow: 1px 1px 5px #000;
        margin:5px;
    }

    .tabs li:hover {
        background:#ffff99;
    }
    
    .gps_table {
        background: #efefef;
    }

    .finishButtons input {
        padding:5px 20px;
    }

    .finishButtons {
        margin-top:10px;
        text-align:center;
    }
</style>
</head>

<body>
<div class="tabbed_area">
        <ul class="tabs">
            <li><a href="#" title="gps_content_2" class="tab active">in GPS format</a></li>
            <li><a href="#" title="gps_content_1" class="tab">in Deg Min Sec format</a></li>
        </ul>

        <div id="gps_content_1" class="gps_content">
            <form name="inDDMMSS">
                <div><div align="center"><center>

                <table border="1" cellpadding="2" width="400" class="gps_table">
                    <tr>
                    <td align="center"><font face="Arial" size="2"><b>Enter Coordinates in Deg Min Sec</b></font></td>
                    </tr>
                    <tr>
                    <td align="center"><font face="Arial" size="2">
                        DD&nbsp;<input type="text" size="3" name="form1_dd" align="right">
                        MM&nbsp;<input type="text" size="2" name="form1_mm" align="right">
                        SS&nbsp;<input type="text" size="2" name="form1_ss" align="right"></font>
                    </td>
                    </tr>
                    <tr>
                    <td align="center" bgcolor="#C0C0C0"><font face="Arial" size="2"><b>Decimal Degrees </b>
                        <input type="text" size="8" name="form1_dec"></font></td>
                    </tr>
                    <tr>
                    <td align="center"><input type="button" value="Calculate" onclick="convertDD(this.inDDMMSS)">
                    <input type="reset" value="Reset"></td>
                    </tr>
                </table>
                </center></div></div></font>
            </form>
        </div>
        
        <div id="gps_content_2" class="gps_content">
            <form name="inGPScoord">
                <small><small><font face="Arial">
                <div><div align="center"><center>
                <table border="1" cellpadding="2" width="400"  class="gps_table">
                <tr>
                    <td align="center"><font face="Arial" size="2"><b>Enter a Coord in GPS Coords:</b>&nbsp;&nbsp;<input type="text" size="3" name="form3_gpsdeg">&nbsp;deg &nbsp;
                    <input type="text" size="6" name="form3_gpsmin">&nbsp;min</font></td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#C0C0C0"><font face="Arial" size="2"><b>Decimal Degrees </b>
                        <input type="text" size="8" name="form3_dec"></font></td>
                </tr>
                <tr>
                <td align="center"><input type="button" value="Calculate" onclick="convertGps(this.inGPScoord)"><input type="reset" value="Reset"></td>
                </tr>
                </table>
                </center></div></div>
            </form>
        </div>

        <div class="finishButtons">
            <ul>
                <input type="button" value="Fill in Latitude" onclick="convertFillBack(1)" />
                <input type="button" value="Fill in Longitude" onclick="convertFillBack(2)" />
            </ul>
        </div>
    </div>

</body>
</html>
