{{extend 'layout.html'}}

<div class='form-container'>
<h2>{{=T("Layer Details")}}</h2>
{{=A(T("Edit"),_href=t2.action('update_layer',t2.id))}}
<p>&nbsp;</p>
{{try:}}
{{=main}}
{{except:}}
<div class="t2-display">
<table>
<tr><td><label>{{=T("Name")}}</label></td>
<td>{{=layer.name}}</td></tr>
<tr><td><label>{{=T("Description")}}</label></td>
<td>{{=T(layer.description)}}</td></tr>
<tr><td><label>{{=T("Type")}}</label></td>
<td>{{=type}}</td></tr>
{{if subtype != 0:}}
<tr><td><label>{{=T("SubType")}}</label></td>
<td>{{=subtype}}</td></tr>
{{pass}}
{{if key != 0:}}
<tr><td><label>{{=T("Key")}}</label></td>
<td>{{=key}}</td></tr>
{{pass}}
<tr><td><label>{{=T("Enabled")}}</label></td>
<td>{{=layer.enabled}}</td></tr>
</table>
</div>
{{pass}}

{{try:}}
{{=type_display}}
{{except:}}
{{pass}}

{{try:}}
{{=sub_type}}
{{except:}}
{{pass}}

<p>&nbsp;</p>
</div>
{{=A(T("Map Service Catalogue"),_href=t2.action('map_service_catalogue'))}}
