{{extend "layout.html"}}
{{include "gis/catalogue_toolbar.html"}}
{{=H2(title)}}
{{=P(XML(description))}}
{{=P(A(T("Edit Description"), _href=URL(r=request, f="feature_group", args=(feature_group, "update"))), _class="action-button")}}
<p>&nbsp;</p>
{{try:}}
 {{=H3(subtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
<div id='table-container'>
{{try:}}
 {{=items}}
{{except:}}
{{pass}}
</div>
</div>
<p>&nbsp;</p>
{{try:}}
 {{=H3(addtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
{{try:}}
 {{=form2}}
{{except:}}
{{pass}}
</div>
{{include "key.html"}}