{{extend "layout.html"}}
{{if session.s3.debug:}}
<link href="/{{=request.application}}/static/styles/gis/gxp.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/color-picker.ux.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/geoexplorer.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/ie.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/printpreview.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}

{{if google_key:}}
<!-- Google Earth resources -->
<script src="http://www.google.com/jsapi?key={{=google_key}}"></script>
<script type="text/javascript">google && google.load("earth", "1");</script>
{{pass}}

{{if yahoo_key:}}
<!-- Yahoo resources-->
<!-- Old: attempt to download dynamically
<script src="http://yui.yahooapis.com/2.8.2r1/build/yahoo/yahoo-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/get/get-min.js"></script>
<script src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js"></script>;
-->
<!-- New: just include the JS
<script src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid={{=yahoo_key}}"></script>
-->
{{pass}}

<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/js/RowExpander.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/GeoExplorer/colorpicker/color-picker.ux.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/GeoExplorer/colorpicker/ColorManager.js"></script>
{{if session.s3.debug:}}
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/openlayers/lib/OpenLayers.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExt/lib/GeoExt.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExt/lib/overrides/override-ext-ajax.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExt/ux/GeoNamesSearchCombo.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExt/ux/Toolbar.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/gxp/loader.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer/GeoExplorer.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer/GeoExplorer/Composer.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer/GeoExplorer/NewSourceWindow.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer/GeoExplorer/Sahana.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer/GeoExplorer/Viewer.js"></script>
{{else:}}
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/OpenLayers.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExt.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/geoext/lib/overrides/override-ext-ajax.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/gxp.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer.js"></script>
{{pass}}

<script type="text/javascript">//<![CDATA[
    // optionally set locale based on query string parameter
    if (GeoExt.Lang) {
        GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
    }
    Ext.BLANK_IMAGE_URL = '/{{=request.application}}/static/img/gis/openlayers/blank.gif';
    OpenLayers.DOTS_PER_INCH = 25.4 / 0.28; // OGC "standardized rendering pixel size"
    OpenLayers.ImgPath = '/{{=request.application}}/static/img/gis/openlayers/';
    var centerPoint, currentFeature, popupControl, highlightControl;
    var allLayers = new Array();
    var s3_gis_geoserver_url = '{{=geoserver_url}}';
    var s3_gis_potlatch_url = '/{{=request.application}}/gis/potlatch2/potlatch2.html';
    var s3_gis_proxy_url = '/{{=request.application}}/gis/proxy?url=';
    // See http://crschmidt.net/~crschmidt/spherical_mercator.html#reprojecting-points
    var s3_gis_proj4326 = new OpenLayers.Projection('EPSG:4326');
    var s3_gis_projection_current = new OpenLayers.Projection('EPSG:{{=config.epsg}}');
    var s3_gis_units = '{{=config.units}}';
    var s3_gis_maxResolution = {{=config.maxResolution}};
    var s3_gis_maxExtent = [{{=config.maxExtent}}];
    var s3_gis_lat = {{=config.lat}};
    var s3_gis_lon = {{=config.lon}};
    var s3_gis_center = new OpenLayers.LonLat(s3_gis_lon, s3_gis_lat);
    s3_gis_center.transform(s3_gis_proj4326, s3_gis_projection_current);
    var s3_gis_zoom = {{=config.zoom}};
    var s3_gis_numZoomLevels = {{=config.zoom_levels}};
    var s3_gis_cluster_distance = {{=config.cluster_distance}};
    var s3_gis_cluster_threshold = {{=config.cluster_threshold}};
    
    // Functions which are called by user & hence need to be in global scope

    // Replace Cluster Popup contents with selected Feature Popup
    function loadClusterPopup(url, id) {
        //$.getS3(
        $.get(
                url,
                function(data) {
                    $('#' + id + '_contentDiv').html(data);
                    s3_gis_app.mapPanel.map.popups[0].updateSize();
                },
                'html'
            );
    }

    // Zoom to Selected Feature from within Popup
    function zoomToSelectedFeature(lon, lat, zoomfactor) {
        var map = s3_gis_app.mapPanel.map;
        var lonlat = new OpenLayers.LonLat(lon, lat);
        // Get Current Zoom
        var currZoom = map.getZoom();
        // New Zoom
        var newZoom = currZoom + zoomfactor;
        // Center and Zoom
        map.setCenter(lonlat, newZoom);
        // Remove Popups
        for (var i=0; i < map.popups.length; ++i)   {
            map.removePopup(map.popups[i]);
        }
    }
    
    var s3_gis_app = new GeoExplorer.{{if request.args(0) == "viewer.html":}}Viewer{{else:}}SahanaComposer{{pass}}({
        potlatchUrl: s3_gis_potlatch_url,
        proxy: s3_gis_proxy_url,
      {{if print_service:}}
        printService: '{{=print_service}}',
      {{else:}}
        printService: '',
      {{pass}}
        alignToGrid: true,
        about: {
            title: 'GeoExplorer Demo Map',
            'abstract': 'This is a demonstration of GeoExplorer',
            contact: 'IRC #sahana-eden'
        },
        defaultSourceType: 'gxp_wmssource',
        sources: {
          {{if geoserver_url:}}
            local: {
                url: s3_gis_geoserver_url,
                title: 'Local GeoServer'
            },
          {{pass}}
            sahana: {
                url: "http://geo.eden.sahanafoundation.org/geoserver/ows",
                title: "Remote Sahana GeoServer"
            },
            mapquest: {
                ptype: "gxp_mapquestsource"
            },
            osm: {
                ptype: 'gxp_tmssource'
            },
            google: {
                ptype: 'gxp_googlesource'
            },
          {{if bing_key:}}
            bing: {
                ptype: 'gxp_bingsource',
                apiKey: '{{=bing_key}}'
            },
          {{pass}}
          {{if yahoo_key:}}
            //yahoo: {
            //    ptype: 'gxp_yahoosource',
            //    apiKey: '{{=yahoo_key}}'
            //},
          {{pass}}
            //kml: {
            //    url: "http://example.com/example.kml",
            //    marker_url: "/{{=request.application}}/static/img/markers/gis_marker.image.marker_red.png",
            //    type: "gxp_kmlsource"
            //},
            ol: {
                ptype: 'gxp_olsource'
            }
        },
        map: {
            //displayProjection: s3_gis_proj4326,   // Doesn't get passed-through
            projection: s3_gis_projection_current,
            units: s3_gis_units,
            maxResolution: s3_gis_maxResolution,
            maxExtent: s3_gis_maxExtent,
            layers: [{
                //source: "google",
                //title: "Google Terrain",
                //name: "TERRAIN",
                //group: "background"
            //}, {
                source: 'osm',
                name: 'cyclemap',
                group: 'background'
            }, {
                source: 'osm',
                name: 'mapnik',
                group: 'background'
            }, {
                source: 'mapquest',
                name: 'osm',
                group: 'background'
            }, {
                source: 'ol',
                group: 'background',
                fixed: true,
                type: 'OpenLayers.Layer',
                args: [
                    'None', {visibility: false}
                ]
            }],
            center: [s3_gis_center.lon, s3_gis_center.lat],
            zoom: s3_gis_zoom,
            numZoomLevels: s3_gis_numZoomLevels
        }
    });

    // Add custom init code here
    s3_gis_app.on('ready', function() {
        // Add a MousePointer to the toolbar
        this.toolbar.addSeparator();
        this.toolbar.add(
           new GeoExt.Toolbar.ControlDisplay({
                map: s3_gis_app.mapPanel.map,
              {{if mouse_position and mouse_position is not "mgrs":}}
                control: new OpenLayers.Control.MousePosition({displayProjection: s3_gis_proj4326})
              {{elif mouse_position == "mgrs":}}
                control: new OpenLayers.Control.MGRSMousePosition({displayProjection: s3_gis_proj4326})
              {{pass}}
            })
        );
        this.toolbar.doLayout();

        // Overlays - quick port from MVC
        var styleMarker = new Object();
        var iconURL;
        var max_w = {{=marker_max_width}};
        var max_h = {{=marker_max_height}};
        var scaleImage = function(){
            var scaleRatio = i.height/i.width;
            var w = Math.min(i.width, max_w);
            var h = w * scaleRatio;
            if (h > max_h) {
                    h = max_h;
                    scaleRatio = w/h;
                    w = w * scaleRatio;
                }
            i.height = h;
            i.width = w;
        }

        // Style Rule For Clusters
        var style_cluster_style = {
            label: '${label}',
            pointRadius: '${radius}',
            fillColor: '${fill}',
            fillOpacity: 0.5,
            strokeColor: '${stroke}',
            strokeWidth: 2,
            strokeOpacity: 1
        };
        var style_cluster_options = {
            context: {
                radius: function(feature) {
                    // Size for Unclustered Point
                    var pix = 12;
                    // Size for Clustered Point
                    if (feature.cluster) {
                        pix = Math.min(feature.attributes.count/2, 8) + 12;
                    }
                    return pix;
                },
                fill: function(feature) {
                    // fillColor for Unclustered Point
                    var color = '#f5902e';
                    // fillColor for Clustered Point
                    if (feature.cluster) {
                        color = '#8087ff';
                    }
                    return color;
                },
                stroke: function(feature) {
                    // strokeColor for Unclustered Point
                    var color = '#f5902e';
                    // strokeColor for Clustered Point
                    if(feature.cluster) {
                        color = '#2b2f76';
                    }
                    return color;
                },
                label: function(feature) {
                    // Label For Unclustered Point or Cluster of just 2
                    var label = '';
                    // Label For Clustered Point
                    if (feature.cluster && feature.attributes.count > 2) {
                        label = feature.attributes.count;
                    }
                    return label;
                }
            }
        };

        var featureLayers = new Array();
        var features = [];
        var parser = new OpenLayers.Format.WKT();
        var geom, featureVec;

        function addFeature(feature_id, name, geom, styleMarker, image, popup_url) {
            geom = geom.transform(s3_gis_proj4326, s3_gis_projection_current);
            // Needs to be uniquely instantiated
            var style_marker = OpenLayers.Util.extend({}, OpenLayers.Feature.Vector.style['default']);
            if ('' == styleMarker.iconURL) {
                style_marker.graphicName = styleMarker.graphicName;
                style_marker.pointRadius = styleMarker.pointRadius;
                style_marker.fillColor = styleMarker.fillColor;
                style_marker.fillOpacity = styleMarker.opacity;
                style_marker.strokeColor = styleMarker.fillColor;
                style_marker.strokeWidth = 2;
                style_marker.strokeOpacity = styleMarker.opacity;
            } else {
                // Set icon dims (set in onload)
                style_marker.graphicWidth = image.width;
                style_marker.graphicHeight = image.height;
                style_marker.graphicXOffset = -(image.width / 2);
                style_marker.graphicYOffset = -image.height;
                style_marker.graphicOpacity = styleMarker.opacity;
                style_marker.externalGraphic = styleMarker.iconURL;
            }
            // Create Feature Vector
            var featureVec = new OpenLayers.Feature.Vector(geom, null, style_marker);
            featureVec.fid = feature_id;
            // Store the popup_url in the feature so that onFeatureSelect can read it
            featureVec.popup_url = popup_url;
            featureVec.attributes.name = name;
            return featureVec;
        }

        {{=XML(layers_features)}}
        // ensure popupControl & highlightControl work on these layers
        allLayers = allLayers.concat(featureLayers);
      {{if layers_georss:}}
        var georssLayers = new Array();
        var format_georss = new OpenLayers.Format.GeoRSS();
        function onGeorssFeatureSelect(event) {
            // unselect any previous selections
            tooltipUnselect(event);
            var feature = event.feature;
            var selectedFeature = feature;
            centerPoint = feature.geometry.getBounds().getCenterLonLat();
            if (undefined == feature.attributes.description) {
                var popup = new OpenLayers.Popup.FramedCloud('georsspopup',
                centerPoint,
                new OpenLayers.Size(200, 200),
                '<h2>' + feature.attributes.title + '</h2>',
                null, true, onPopupClose);
            } else {
                var popup = new OpenLayers.Popup.FramedCloud('georsspopup',
                centerPoint,
                new OpenLayers.Size(200, 200),
                '<h2>' + feature.attributes.title + '</h2>' + feature.attributes.description,
                null, true, onPopupClose);
            };
            feature.popup = popup;
            popup.feature = feature;
            feature.layer.map.addPopup(popup);
        }
        {{=XML(layers_georss)}}
        allLayers = allLayers.concat(georssLayers);
      {{pass}}
      {{if layers_gpx:}}
        var gpxLayers = new Array();
        function onGpxFeatureSelect(event) {
            // unselect any previous selections
            tooltipUnselect(event);
            var feature = event.feature;
            // Anything we want to do here?
        }
        {{=XML(layers_gpx)}}
        allLayers = allLayers.concat(gpxLayers);
      {{pass}}
      {{if layers_kml:}}
        var kmlLayers = new Array();
        var format_kml = new OpenLayers.Format.KML({
            extractStyles: true,
            extractAttributes: true,
            maxDepth: 2
        })
        function onKmlFeatureSelect(event) {
            // unselect any previous selections
            tooltipUnselect(event);
            var feature = event.feature;
            centerPoint = feature.geometry.getBounds().getCenterLonLat();
            var selectedFeature = feature;
            var title = feature.layer.title;
            var _attributes = feature.attributes;
            var type = typeof _attributes[title];
            if ('object' == type) {
                _title = _attributes[title].value;
            } else {
                _title = _attributes[title];
            }
            var body = feature.layer.body.split(' ');
            var content = '';
            for (var i = 0; i < body.length; i++) {
                type = typeof _attributes[body[i]];
                if ('object' == type) {
                    // Geocommons style
                    var displayName = _attributes[body[i]].displayName;
                    if (displayName == '') {
                        displayName = body[i];
                    }
                    var value = _attributes[body[i]].value;
                    var row = '<b>' + displayName + '</b>: ' + value + '<br />';
                } else {
                    var row = _attributes[body[i]] + '<br />';
                }
                content += row;
            }
            // Protect the content against JavaScript attacks
            if (content.search('<script') != -1) {
                content = 'Content contained Javascript! Escaped content below.<br />' + content.replace(/</g, '<');
            }
            var contents = '<h2>' + _title + '</h2>' + content;

            var popup = new OpenLayers.Popup.FramedCloud('kmlpopup',
                centerPoint,
                new OpenLayers.Size(200, 200),
                contents,
                null, true, onPopupClose
            );
            feature.popup = popup;
            popup.feature = feature;
            feature.layer.map.addPopup(popup);
        }
        {{=XML(layers_kml)}}
        allLayers = allLayers.concat(kmlLayers);
      {{pass}}
        {{=XML(layer_coordinategrid)}}

        // Popups
        // onClick Popup
        popupControl = new OpenLayers.Control.SelectFeature(
            allLayers, {
                toggle: true,
                clickout: true,
                multiple: false
            }
        );
        // onHover Tooltip
        highlightControl = new OpenLayers.Control.SelectFeature(
            allLayers, {
                hover: true,
                highlightOnly: true,
                //renderIntent: 'temporary',
                eventListeners: {
                    featurehighlighted: tooltipSelect,
                    featureunhighlighted: tooltipUnselect
                }
            }
        );
        this.mapPanel.map.addControl(highlightControl);
        this.mapPanel.map.addControl(popupControl);
        highlightControl.activate();
        popupControl.activate();

        // Supports popupControl for All Vector Layers
        function onFeatureUnselect(event) {
            var feature = event.feature;
            if (feature.popup) {
                feature.layer.map.removePopup(feature.popup);
                feature.popup.destroy();
                delete feature.popup;
            }
        }
        function onPopupClose(evt) {
            //currentFeature.popup.hide();
            popupControl.unselectAll();
        }

        // Supports highlightControl for All Vector Layers
        var lastFeature = null;
        var tooltipPopup = null;
        function tooltipSelect(event) {
            var feature = event.feature;
            if (feature.cluster) {
                // Cluster
                // no tooltip
            } else {
                // Single Feature
                var selectedFeature = feature;
                // if there is already an opened details window, don\'t draw the tooltip
                if (feature.popup != null) {
                    return;
                }
                // if there are other tooltips active, destroy them
                if (tooltipPopup != null) {
                    this.layer.map.removePopup(tooltipPopup);
                    tooltipPopup.destroy();
                    if (lastFeature != null) {
                        delete lastFeature.popup;
                        tooltipPopup = null;
                    }
                }
                lastFeature = feature;
                centerPoint = feature.geometry.getBounds().getCenterLonLat();
                _attributes = feature.attributes;
                if (undefined == _attributes.name && undefined == _attributes.title) {
                    // KML Layer
                    var title = feature.layer.title;
                    if (undefined == title) {
                        // We don't have a suitable title, so don't display a tooltip
                        tooltipPopup = null;
                    } else {
                        var type = typeof _attributes[title];
                        if ('object' == type) {
                            _title = _attributes[title].value;
                        } else {
                            _title = _attributes[title];
                        }
                        tooltipPopup = new OpenLayers.Popup("activetooltip",
                            centerPoint,
                            new OpenLayers.Size(80, 12),
                            _title,
                            false
                        );
                    }
                } else if (undefined == _attributes.title) {
                    // Features
                    tooltipPopup = new OpenLayers.Popup("activetooltip",
                            centerPoint,
                            new OpenLayers.Size(80, 12),
                            _attributes.name,
                            false
                    );
                } else {
                    // GeoRSS
                    tooltipPopup = new OpenLayers.Popup("activetooltip",
                            centerPoint,
                            new OpenLayers.Size(80, 12),
                            _attributes.title,
                            false
                    );
                }
                if (tooltipPopup != null) {
                    // should be moved to CSS
                    tooltipPopup.contentDiv.style.backgroundColor='ffffcb';
                    tooltipPopup.contentDiv.style.overflow='hidden';
                    tooltipPopup.contentDiv.style.padding='3px';
                    tooltipPopup.contentDiv.style.margin='10px';
                    tooltipPopup.closeOnMove = true;
                    tooltipPopup.autoSize = true;
                    tooltipPopup.opacity = 0.7;
                    feature.popup = tooltipPopup;
                    this.layer.map.addPopup(tooltipPopup);
                }
            }
        }
        function tooltipUnselect(event) {
            var feature = event.feature;
            if (feature != null && feature.popup != null){
                feature.layer.map.removePopup(feature.popup);
                feature.popup.destroy();
                delete feature.popup;
                tooltipPopup = null;
                lastFeature = null;
            }
        }
        
        function loadDetails(url, id, popup) {
            //$.getS3(
            $.get(
                    url,
                    function(data) {
                        $('#' + id + '_contentDiv').html(data);
                        popup.updateSize();
                    },
                    'html'
                );
        }

        // Add an OverviewMap
        //s3_gis_app.createOverviewMap();
        // Not working yet: bounds is null
        // Rewrite as GXP plugin?
        // http://trac.osgeo.org/openlayers/wiki/Control/OverviewMap
        //this.mapPanel.map.addControl(new OpenLayers.Control.OverviewMap({
        //    center: s3_gis_center,
        //    mapOptions: {
                //displayProjection: s3_gis_proj4326,
        //        projection: s3_gis_projection_current,
                // Use Manual stylesheet download (means can be done in HEAD to not delay pageload)
        //        theme: null,
        //        units: s3_gis_units,
        //        maxResolution: s3_gis_maxResolution,
        //        maxExtent: new OpenLayers.Bounds(s3_gis_maxExtent[0], s3_gis_maxExtent[1], s3_gis_maxExtent[2], s3_gis_maxExtent[3]),
        //        numZoomLevels: s3_gis_numZoomLevels,
                //layers: [s3_gis_app.mapPanel.map.baseLayer.clone()]
        //    }
        //}));
    });
//]]></script>
