{{extend "layout.html"}}
{{if session.s3.debug:}}
<link href="/{{=request.application}}/static/styles/gis/geoexplorer.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/ie.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/gis/printpreview.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{else:}}
{{pass}}

<!-- Google Earth resources-->
{{if google_key:}}
<script src="http://www.google.com/jsapi?key={{=google_key}}"></script>
<script type="text/javascript">google && google.load("earth", "1");</script>
{{else:}}
{{pass}}

<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/js/RowExpander.js"></script>
{{if session.s3.debug:}}
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/openlayers/lib/OpenLayers.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/geoext/lib/GeoExt.js"></script>
<!--
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/gxp/loader.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer/GeoExplorer.js"></script>
-->
{{else:}}
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/OpenLayers.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExt_.js"></script>
{{pass}}
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/gxp.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/GeoExplorer.js"></script>

<script type="text/javascript">//<![CDATA[
    Ext.BLANK_IMAGE_URL = '/{{=request.application}}/static/img/gis/openlayers/blank.gif';
    OpenLayers.DOTS_PER_INCH = 25.4 / 0.28; // OGC "standardized rendering pixel size"
    var geoserver_url = '{{=geoserver_url}}';
    var proxy_url = '/{{=request.application}}/gis/proxy?url=';
    // See http://crschmidt.net/~crschmidt/spherical_mercator.html#reprojecting-points
    var proj4326 = new OpenLayers.Projection('EPSG:4326');
    var projection_current = new OpenLayers.Projection('EPSG:{{=config.epsg}}');
    var units = '{{=config.units}}';
    var maxResolution = {{=config.maxResolution}};
    var maxExtent = [{{=config.maxExtent}}];
    var lat = {{=config.lat}};
    var lon = {{=config.lon}};
    var center = new OpenLayers.LonLat(lon, lat);
    center.transform(proj4326, projection_current);
    var zoom = {{=config.zoom}};
    var app = new GeoExplorer.{{if request.args(0) == "viewer.html":}}Viewer{{else:}}Composer{{pass}}({
        proxy: proxy_url,
      {{if print_service:}}
        printService: 'http://geo.eden.sahanafoundation.org/geoserver/pdf/',
      {{pass}}
        alignToGrid: true,
        about: {
            title: 'GeoExplorer Demo Map',
            'abstract': 'This is a demonstration of GeoExplorer',
            contact: 'IRC #sahana-eden'
        },
        defaultSourceType: 'gx_wmssource',
        sources: {
          {{if geoserver_url:}}
            local: {
                url: geoserver_url,
                title: 'Local GeoServer'
            },
          {{pass}}
            sahana: {
                url: "http://geo.eden.sahanafoundation.org/geoserver/ows",
                title: "Remote Sahana GeoServer"
            },
            osm: {
                ptype: 'gx_osmsource'
            },
            google: {
                ptype: 'gx_googlesource'
            },
            ol: {
                ptype: 'gx_olsource'
            }
        },
        map: {
            projection: projection_current,
            units: units,
            maxResolution: maxResolution,
            maxExtent: maxExtent,
            layers: [{
                source: 'osm',
                title: 'OpenStreetMap',
                name: 'mapnik',
                group: 'background'
            }, {
                source: 'ol',
                group: 'background',
                fixed: true,
                type: 'OpenLayers.Layer',
                args: [
                    'None', {visibility: false}
                ]
            }],
            center: [center.lon, center.lat],
            zoom: zoom
        }
    });
//]]></script>
