<!--When in Debug mode we want each style to download separately-->

<!--Ext-->
<!-- For Sites Hosted on the Public Internet, using Cachefly CDN's version of ExtJS may provide better performance
<link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-2.2/resources/css/ext-all.css" />
-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/mfbase/ext/resources/css/ext-all.css" />

<!--OpenLayers-->
<!-- Needed for Files support-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/mfbase/openlayers/theme/default/framedCloud.css" />

<!--MapFish-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/styles/gis/mapfish.css" />
