<!--When in Debug mode we want each style to download separately-->

<!--Ext-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/mfbase/ext/resources/css/ext-all.css" />

<!--OpenLayers-->
<!-- Needed for Files support-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/mfbase/openlayers/theme/default/framedCloud.css" />

<!--MapFish-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/styles/gis/mapfish.css" />
