<!--When in Debug mode we want each style to download separately-->

<!--Ext-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext/resources/css/ext-all.css" />

<!--OpenLayers-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/gis/ie6-style.css" />
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/gis/google.css" />

<!--GeoExt-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/styles/gis/geoext-all.css" />

<!-- Popups -->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/styles/gis/gis.css" />

