<!--When in Debug mode we want each script to download separately & to use the uncompressed versions-->

<!--Proj4js
<script type="text/javascript" src="{{=request.application}}/static/scripts/gis/proj4js/lib/proj4js.js"></script>
-->

<!--Ext-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext/adapter/jquery/ext-jquery-adapter.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext/ext-all-debug.js"></script>
<!--
<script  type="text/javascript src="/{{=request.application}}/static/scripts/gis/examples.js"></script>
-->

<!--OpenLayers-->
<!-- Only needed when developing/testing with IE
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/openlayers/lib/Firebug/firebug.js"></script>
-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/openlayers/lib/OpenLayers.js"></script>
<!-- Needed for OSM Files support-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/osm_styles.js"></script>

<!--GeoExt-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/geoext/lib/GeoExt.js"></script>
