<!--When in Production mode we want fewer compressed scripts to download-->

<!--Proj4js
  <script type="text/javascript" src="{{=request.application}}/static/scripts/gis/proj4js/lib/proj4js-compressed.js"></script>
-->

<!--
<script  type="text/javascript src="/{{=request.application}}/static/scripts/gis/examples.js"></script>
-->

<!--OpenLayers-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/OpenLayers.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/RemoveFeature.js"></script>

<!--GeoExt-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/geoext/script/GeoExt.js"></script>

<!--GeoExt:ux-->
<script type="text/javascript" src="/{{=request.application}}/static/scripts/gis/geoext/ux/GeoNamesSearchCombo.min.js"></script>
