{{extend 'layout.html'}}

<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T("module provides a mechanism to collaboratively provide an overview of the developing disaster, using online mapping (GIS). You can add markers and pictures to pin point incidents on the map.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Provides a map based view of the disaster situation")}}</li>
<li>{{=T("Allow users to collaboratively add markers of the developing disaster situation")}}</li>
</ul>
</div>
