{{extend 'layout_popup.html'}}
{{include '_popup.html'}}
{{if session.s3.security_policy==1:}}
    <script type="text/javascript">//<![CDATA[
    $(function() {
            // Hide the Admin row for simple security_policy
            $("#gis_location_admin__row").hide();
    });
    //]]></script>
{{else:}}
{{pass}}
<script type="text/javascript">//<![CDATA[
$(function() {
        // If coming from the OR then populate defaults for the fields & Hide unnecessary rows
        if (self.parent.$("input[name='_formname']").val() == "or_office/None") {
            var office_name = self.parent.$('#or_office_name').val();
            $("#gis_location_name").val(office_name);
            $("#gis_location_name__row").hide();
            $("#gis_location_parent__row").hide();
            $("#gis_location_feature_class_id").val(8);
            $("#gis_location_feature_class_id__row").hide();
            $("#gis_location_marker_id").val(5);
            //$("#gis_location_marker_id__row").hide();
            $("#gis_location_gis_feature_type__row").hide();
            $("#gis_location_wkt__row").hide();
        }
});
//]]></script>

{{include 'ext.html'}}
<script type="text/javascript">//<![CDATA[
// *** NEW POPUPS
    Ext.onReady(function(){
        var win;
        var button = Ext.get('btnConvert');

        button.on('click', function(){
            // create the window on the first click and reuse on subsequent clicks
            if(!win){
                win = new Ext.Window({
                    applyTo:'convert-win',
                    layout:'fit',
                    width:400,
                    height:200,
                    closeAction:'hide',
                    plain: true,

                    items: new Ext.TabPanel({
                        applyTo: 'convert-tabs',
                        autoTabs:true,
                        activeTab:0,
                        deferredRender:false,
                        border:false
//                         listeners:{
//                             'tabchange': function(){
//                             alert(this.getActiveTab().id)
//                             }
//                         }
                    }),

                    buttons: [{
                        text:'Fill in Latitude',
                        disabled:false,
                        handler: function(){
                            if (convertFillBack(1)){
                                calcDone = false;
                                $("#form1_dec").val('');
                                $("#form3_dec").val('');
                                win.hide();
                            }
                        }
                    },{
                        text: 'Fill in Longitude',
                        handler: function(){
                            if (convertFillBack(2)){
                                calcDone = false;
                                $("#form1_dec").val('');
                                $("#form3_dec").val('');
                                win.hide();
                            }
//                          win.hide();
                        }
                    }]
                });
            }
            win.show(this);
        });
    });
    // ** END OF NEW POPUP
    
    //]]></script>

    <script type="text/javascript">//<![CDATA[
        // *** OLD COORD CALCULATIONS
        var calcDone = false;   // to track for finish button
        var answer;             // lets have a global answer to fill back using 1 function

        function convertDD() {
            // Convert Degrees Minutes Seconds to Decimal Degrees
            var deg = document.inDDMMSS.form1_dd.value;
            var min = document.inDDMMSS.form1_mm.value;
            var sec = document.inDDMMSS.form1_ss.value;

            if (deg == "" || min == "" || sec == ""){
                    alert("Enter a value for DD MM or SS.");
            }

            else if (deg > 180 || deg < 0){
                    alert("Enter a value less than 180 or greater than 0.");
            }
            else if (min > 60 || min < 0){
                    alert("Enter a value less than 60 or greater than 0 for minutes.");
            }
            else if (sec > 60 || sec < 0){
                    alert("Enter a value less than 60 or greater than 0 for seconds.");
            }

            else {
                var dec_min = (min*1.0 + (sec/60.0));
                answer = deg*1.0 + (dec_min/60.0);
                document.inDDMMSS.form1_dec.value=answer;
                calcDone = true;
            }
        }

        function convertGps() {
            // Convert GPS Coordinates to Decimal Degrees
            var deg = 0;
            var min = 0;
            deg = document.inGPScoord.form3_gpsdeg.value;
            min = document.inGPScoord.form3_gpsmin.value;

            if (deg == "" || min == ""){
                    alert("Enter a value for GPS degrees or GPS min.");
            }
            else if (deg > 180 || deg < 0){
                    alert("Degrees should be greater than 0 and less than 180.");
            }
            else if (min > 60 || min < 0){
                        alert("Minutes should be greater than 0 and less than 60.");
            }
            else {
                answer = (deg*1.0) + min/60.0;
                document.inGPScoord.form3_dec.value = answer;
                calcDone = true;
            }
        }

        function convertFillBack(whereto) {
            //
            // To fill back calculated stuff into page in background
            if (calcDone == true) {
                if (whereto == 1) {
                    $("#gis_location_lat").attr("value",answer);
                } else {
                    $("#gis_location_lon").attr("value",answer);
                }
                return true;
            } else {
                alert ("You haven't made any calculations.");
            }
            return false;
        }
        //]]></script>
        
        
           <div id="convert-win" class="x-hidden">
    <div class="x-window-header">Coordinate Conversion</div>
    <div id="convert-tabs">
        <!-- Auto create tab 1 -->
        <div class="x-tab" title="in GPS format">
            <p style='padding:1px; 5px;'>
                <form name="inGPScoord">
                    <table border="0" cellpadding="2" width="400"  class="gps_table">
                    <tr style='padding:2px;'>
                        <td style='padding:2px;' align="center"><font face="Arial" size="2"><b>Enter a GPS Coord:</b>&nbsp;&nbsp;<input type="text" size="3" name="form3_gpsdeg">&nbsp;deg &nbsp;
                        <input type="text" size="6" name="form3_gpsmin">&nbsp;min</font></td>
                    </tr>
                    <tr  style='padding:2px;'>
                        <td style='padding:2px;' align="center" bgcolor="#C0C0C0"><font face="Arial" size="2"><b>Decimal Degrees </b>

                            <input type="text" size="8" name="form3_dec" id="form3_dec" /></font></td>
                    </tr>
                    <tr>
                        <td style='padding:2px;' align="center"><input type="button" value="Calculate" onclick="convertGps(this.inGPScoord)"><input type="reset" value="Reset"></td>
                    </tr>
                    </table>
                </form>
            </p>
        </div>
        <!-- Auto create tab 2 -->
        <div class="x-tab" title="in Deg Min Sec format">
            <p style='padding:1px; 5px;'>
                <form name="inDDMMSS">
                    <table border="0" cellpadding="2" width="400" class="gps_table">
                        <tr style='padding:2px;'>
                        <td style='padding:2px;' align="center"><font face="Arial" size="2"><b>Enter Coordinates in Deg Min Sec</b></font></td>

                        </tr>
                        <tr>
                        <td style='padding:2px;' align="center"><font face="Arial" size="2">
                            DD&nbsp;<input type="text" size="3" name="form1_dd" align="right">
                            MM&nbsp;<input type="text" size="2" name="form1_mm" align="right">
                            SS&nbsp;<input type="text" size="2" name="form1_ss" align="right"></font>
                        </td>

                        </tr>
                        <tr>
                        <td style='padding:2px;' align="center" bgcolor="#C0C0C0"><font face="Arial" size="2"><b>Decimal Degrees </b>
                            <input type="text" size="8" name="form1_dec" id="form1_dec" /></font></td>
                        </tr>
                        <tr>
                        <td style='padding:2px;' align="center"><input type="button" value="Calculate" onclick="convertDD(this.inDDMMSS)">
                        <input type="reset" value="Reset"></td>
                        </tr>
                    </table>
                </form>
            </p>
        </div>
    </div>
    </div>


