{{extend "layout_popup.html"}}
{{include "_popup.html"}}
{{if "pr_presence" in request.vars.caller:}}
    <script type="text/javascript">//<![CDATA[
    // If a Person location then set defaults from main form & offer HTML5 GeoLocation
    $(function() {
        var location_name = self.parent.$('#pr_presence_pr_pe_id__row > td.w2p_fw').html();
        if (location_name) {
            $("#gis_location_name").val(location_name);
            $("#gis_location_name__row").hide();
        }
        
        if (navigator.geolocation) {
            // HTML5 geolocation is available :)
            navigator.geolocation.getCurrentPosition(getCurrentPosition);
        } else {
            // geolocation is not available...IE sucks! ;)
        }

        // Provide tiered Location AutoCompletes
        //{include 'gis/location_autocomplete.js'}
        //}
    });
    function getCurrentPosition(position){
        // http://dev.w3.org/geo/api/spec-source.html
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        //var elevation = position.coords.altitude;
        //var ce = position.coords.accuracy;
        //var le = position.coords.altitudeAccuracy;
        //position.coords.heading;
        //position.coords.speed;
        $("#gis_location_lat").val(lat);
        $("#gis_location_lon").val(lon);
    }
    //]]></script>
{{elif "org_office" in request.vars.caller:}}
    <script type="text/javascript">//<![CDATA[
    // If an Office location then populate defaults for the fields & Hide unnecessary rows
    $(function() {
        var location_name = self.parent.$('#org_office_name').val();
        if (location_name) {
            $("#gis_location_name").val(location_name);
            $("#gis_location_name__row").hide();
        }

        // Provide tiered Location AutoCompletes
        //{include 'gis/location_autocomplete.js'}
        //}
    });
    //]]></script>
{{elif "org_project" in request.vars.caller:}}
    <script type="text/javascript">//<![CDATA[
    // If a Project location then populate defaults for the fields & Hide unnecessary rows
    $(function() {
        //if (self.parent.$("input[name='_formname']").val().match("org_project")) {
        var location_name = self.parent.$('#org_project_name').val();
        if (location_name) {
            $("#gis_location_name").val(location_name);
            $("#gis_location_name__row").hide();
        }

        // Provide tiered Location AutoCompletes
        //{include 'gis/location_autocomplete.js'}
        //}
    });
    //]]></script>
{{elif "hms_hospital" in request.vars.caller:}}
    <script type="text/javascript">//<![CDATA[
    // If coming from the HMS then populate defaults for the fields & Hide unnecessary rows
    $(function() {
        //if (self.parent.$("input[name='_formname']").val().match("hms_hospital")) {
        var location_name = self.parent.$('#hms_hospital_name').val();
        if (location_name) {
            $("#gis_location_name").val(location_name);
            $("#gis_location_name__row").hide();
        }

        // Provide tiered Location AutoCompletes
        //{include 'gis/location_autocomplete.js'}
        //}
    });
    //]]></script>
{{else:}}
{{pass}}
{{include "gis/feature_crud.js"}}
{{include "gis/convert_gps.html"}}
