{{_gis = response.s3.gis}}
{{extend "layout.html"}}
<H2>{{=T("Locations De-duplicator")}}</H2>
<p>{{=T("This form allows the administrator to remove a duplicate location.")}}</p>
<ol style='list-style-type:decimal; margin-left:20px;'>
<li>{{=T("Select 2 potential locations from the dropdowns.")}}</li>
<li>{{=T("Load the details to help decide which is the best one to keep out of the 2.")}}</li>
<li>{{=T("Copy any data from the one to be deleted into the one to keep")}}</li>
<li>{{=T("Save any Changes in the one you wish to keep")}}</li>
<li>{{=T("Press the 'Delete Old' button to have all records which reference this one be repointed at the new one & then the old record will be deleted.")}}</li>
</ol>
<b>{{=T("Filter")}}</b>:
<select id='filter_level'>
    <option value='' selected>{{=T("All Locations")}}</option>
{{if len(_gis.countries) == 1:}}
{{else:}}
  {{try:}}
    {{label = _gis.location_hierarchy["L0"]}}
    <option value='0'>{{=label}}</option>
  {{except:}}
  {{pass}}
{{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L1"]}}
    <option value='1'>{{=label}}</option>
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L2"]}}
    <option value='2'>{{=label}}</option>
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L3"]}}
    <option value='3'>{{=label}}</option>
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L4"]}}
    <option value='4'>{{=label}}</option>
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L5"]}}
    <option value='5'>{{=label}}</option>
  {{except:}}
  {{pass}}
</select>
{{=form.custom.begin}}
<div align='center'>{{=form.custom.submit}}</div>
<p>&nbsp;</p>
<div id='form-container'>
<div class='col2left'>
{{=form[0][0]}}
<p>&nbsp;</p>
<div id='links_old'></div>
<p>&nbsp;</p>
<div id='details_old'></div>
</div>
<div class='col2right'>
{{=form[0][1]}}
<p>&nbsp;</p>
<div id='links_new'></div>
<p>&nbsp;</p>
<div id='details_new'></div>
</div>
</div>

<script type="text/javascript">//<![CDATA[
// Resize iframe to full height
function resizeIframe(height) {
    // From: http://stackoverflow.com/questions/153152/resizing-an-iframe-based-on-content
    // "+60" is a general rule of thumb to allow for differences in
    // IE & and FF height reporting, can be adjusted as required..
    if ($('#iframe_old').length > 0) {
        document.getElementById('iframe_old').height = parseInt(height) + 60;
    }
    if ($('#iframe_new').length > 0) {
        document.getElementById('iframe_new').height = parseInt(height) + 60;
    }
}
$(document).ready(function(){
    var empty_set = '<option value="">' + '{{=T("No locations registered at this level")}}</option>';
    var loading_locations = '<option value="">' + '{{=T("Loading Locations...")}}</option>';
    var select_location = '<option value="" selected>' + '{{=T("Select a location")}}' + '...</option>';
    var locations_hierarchy = new Array();
  {{try:}}
    {{label = _gis.location_hierarchy["L0"]}}
    locations_hierarchy["L0"] = '{{=label}}';
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L1"]}}
    locations_hierarchy["L1"] = '{{=label}}';
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L2"]}}
    locations_hierarchy["L2"] = '{{=label}}';
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L3"]}}
    locations_hierarchy["L3"] = '{{=label}}';
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L4"]}}
    locations_hierarchy["L4"] = '{{=label}}';
  {{except:}}
  {{pass}}
  {{try:}}
    {{label = _gis.location_hierarchy["L5"]}}
    locations_hierarchy["L5"] = '{{=label}}';
  {{except:}}
  {{pass}}

    $('a.action-btn').click(function(){
        // Which type is this?
        if ($(this).attr('id').indexOf('_') == 3) {
            // Load Details
            // Is this Old or New?
            var _id = $(this).attr('id').replace(/btn_/, '');
            // Which location is selected?
            var id = $('#no_table_' + _id).val();
            if (id == '') {
                // Do nothing if no location selected
                return false;
            }
            // Get a form for the record (allows reading details & also updating)
            var url = '{{=URL(r=request, c="gis", f="location")}}' + '/' + id + '.iframe/update';
            var html = "<iframe src='" + url + "' id='iframe_details_" + _id + "' width='100%' frameborder='0'></iframe>";
            $('#details_' + _id).html(html);
        } else {
            // Linked Records
            // Is this Old or New?
            var _id = $(this).attr('id').replace(/linkbtn_/, '');
            // Which location is selected?
            var id = $('#no_table_' + _id).val();
            if (id == '') {
                // Do nothing if no location selected
                return false;
            }
            // Get a list of records which link to this one
            var url = '{{=URL(r=request, c="gis", f="location_links")}}' + '/' + id;
            load_links = function(data, status){
                var html;
                var v = '';
                if (data.length == 0) {
                    html = '{{=T("No linked records")}}';
                } else {
                    html = '<table><tr><td><b>{{=T("Linked records")}}:</b></td></tr>';
                    for (var i = 0; i < data.length; i++){
                        html += '<tr><td><a href="{{=URL3(r=request)}}' + '/' + data[i].module + '/' + data[i].resource + '/' + data[i].id + '" target="_blank">' + data[i].module + '_' + data[i].resource + ': ' + data[i].represent + '</a></td></tr>';
                    }
                    html += '</table>';
                }
                 $('#links_' + _id).html(html);
            };
        $.getJSONS3(url, load_links, false);
        }

        // Don't open the Tab
        return false;
    });
    // If the Filter changes:
	$('#filter_level').change(function() {
		// What is the new filter?
        var level = $(this).val();
        // Refresh the page with this setting
        if (level) {
            url = '{{=URL(r=request, c="gis", f="location", args="search.json", vars={"filter":"=", "field":"level"})}}&value=L' + level;
        } else {
            url = '{{=URL(r=request, c="gis", f="location", args="search.json")}}';
        }
        load_locations = function(data, status){
            var options;
            var v = '';
            if (data.length == 0) {
                options = empty_set;
            } else {
                options = select_location;
                for (var i = 0; i < data.length; i++){
                    v = data[i].id;
                    if (data[i].level) {
                        if (locations_hierarchy[data[i].level]) {
                            options += '<option value="' +  data[i].id + '">' + data[i].name + ' (' +locations_hierarchy[data[i].level] + ')</option>';
                        } else {
                            options += '<option value="' +  data[i].id + '">' + data[i].name + ' (' + data[i].level + ')</option>';
                        }
                    } else {
                        options += '<option value="' +  data[i].id + '">' + data[i].name + '</option>';
                    }
                }
            }
            $('#no_table_old').html(options);
            $('#no_table_new').html(options);
        };
    $('#no_table_old').html(loading_locations);
    $('#no_table_new').html(loading_locations);
    $.getJSONS3(url, load_locations, false);
    });
});
//]]></script>