{{extend "layout_popup.html"}}
{{include "_popup.html"}}
{{if "caller" in request.vars:}}
    <script type="text/javascript">//<![CDATA[
    function getCurrentPosition(position){
        // http://dev.w3.org/geo/api/spec-source.html
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        //var elevation = position.coords.altitude;
        //var ce = position.coords.accuracy;
        //var le = position.coords.altitudeAccuracy;
        //position.coords.heading;
        //position.coords.speed;
        $("#gis_location_lat").val(lat);
        $("#gis_location_lon").val(lon);
    }
    $(function() {
        $("#gis_location_gis_feature_type__row").hide();
    {{if "pr_presence" in request.vars.caller:}}
            // If a Person location then set defaults from main form & offer HTML5 GeoLocation
            var location_name = self.parent.$('#pr_presence_pe_id__row > td.w2p_fw').html();
            if (location_name) {
                $("#gis_location_name").val(location_name);
                $("#gis_location_name__row").hide();
            }
            
            if (navigator.geolocation) {
                // HTML5 geolocation is available :)
                navigator.geolocation.getCurrentPosition(getCurrentPosition);
            } else {
                // geolocation is not available...IE sucks! ;)
            }
    {{elif "org_office" in request.vars.caller:}}
            // If an Office location then populate defaults for the fields & Hide unnecessary rows
            var location_name = self.parent.$('#org_office_name').val();
            if (location_name) {
                $("#gis_location_name").val(location_name);
                $("#gis_location_name__row").hide();
            }
    {{elif "org_project" in request.vars.caller:}}
            // If a Project location then populate defaults for the fields & Hide unnecessary rows
            var location_name = self.parent.$('#org_project_name').val();
            if (location_name) {
                $("#gis_location_name").val(location_name);
                $("#gis_location_name__row").hide();
            }
    {{elif "hms_hospital" in request.vars.caller:}}
            // If coming from the HMS then populate defaults for the fields & Hide unnecessary rows
            var location_name = self.parent.$('#hms_hospital_name').val();
            if (location_name) {
                $("#gis_location_name").val(location_name);
                $("#gis_location_name__row").hide();
            }
    {{else:}}
    {{pass}}

            // Provide tiered Location AutoCompletes
            //{include "gis/location_autocomplete.js"}
            //}
    });
    //]]></script>
{{elif jr.method != "read":}}
    <script type="text/javascript">//<![CDATA[
        {{include "gis/feature_crud.js"}}
    });
//]]></script>
{{pass}}
{{include "gis/convert_gps.html"}}
