<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
{{if response.s3.rtl:}}
    body { direction: rtl; }
{{else:}}
    body { direction: ltr; }
{{pass}}
</style>
{{if session.s3.debug:}}
  {{include "sahana_styles_debug.html"}}
  {{include "sahana_scripts_debug.html"}}
{{else:}}
  <link href="/{{=request.application}}/static/scripts/ext/resources/css/ext-all.min.css" rel="stylesheet" type="text/css" charset="utf-8" />
  <link href="/{{=request.application}}/static/scripts/ext/resources/css/xtheme-gray.css" rel="stylesheet" type="text/css" charset="utf-8" />
  <link href="/{{=request.application}}/static/styles/S3/sahana.min.css" rel="stylesheet" type="text/css" charset="utf-8" />
  {{include "sahana_scripts_min.html"}}
{{pass}}
{{pass}}

</head>

<body>
{{=XML(map)}}
</body>
</html>