{{extend 'layout.html'}}

{{include 'gis/ol_js_loaders.html'}}

{{include 'gis/ol_start_vars.js'}}

function centerMap() {
	if (!centered) {
		this.setCenter(point.transform(proj4326, this.getProjectionObject()), zoom);
		centered = true;
	}
}

function addLayers(map) {
    {{include 'gis/ol_layers_all.js'}}
}

{{include 'gis/ol_vector_registerEvents.js'}}

{{include 'gis/ol_controls_features.js'}}

{{include 'gis/mf_toolbar.js'}}

{{include 'gis/ol_functions.js'}}

Ext.onReady(function() {

    map = new OpenLayers.Map('center',options);
	addLayers(map);
	{{include 'gis/ol_controls.js'}}
    toolbar = createToolbar(map);

    {{include 'gis/ol_layers_features.js'}}
    
	// For making a custom LayerTree
    //treeModel = createTreeModel();
	
    var win = new Ext.Window({
		//title    : 'Sahana Map Viewing Client',
		closable : true,
		collapsible : true,
		maximizable : true,
		titleCollapse : true,
		width    : {{=width}},
		height   : {{=height}},
		plain    : true,
		layout   : 'border',
		listeners: {
                    afterlayout: centerMap,
					scope: map
                },
		items    : [{
                    region: "west",
                    id: "tools",
                    title: "{{=T("Tools")}}",
                    border: true,
                    width: 250,
                    collapsible: true,
                    split: true,
                    items: [{
                        id: "tree",
                        title: "{{=T("Layer Tree")}}",
                        xtype: "layertree",
                        map: map,
                        height: 200,
                        showWmsLegend: true,
                        enableDD: true,
                        //model: treeModel
                    }]
                    //}, {
                    //    id: "shortcuts_container",
                    //    title: "Shortcuts",
                    //    height: 50,
                    //    items: [{
                    //        id: "shorcuts",
                    //        xtype: "shortcuts",
                    //        map: map,
                    //        store: createShortcutsStore(),
                    //        templates: {
                    //            header: new Ext.Template(""),
                    //            footer: new Ext.Template("")
                    //        }
                    //  }]
                    //}]
                }, {
                    region: "center",
                    id: "map",
                    layout: "fit",
                    split: true,
                    xtype: "mapcomponent",
                    map: map,
                    tbar: toolbar
                }, {
                    //region: "south",
                    //id: "search_grid",
                    //title: "{{=T("Search results")}}",
                    //split: true,
                    //collapsible: true,
                    //height: 200,
                    // 8.1
                    //xtype: "grid",
                    //store: gridStore,
                    //columns: [
                    //    {header: "Id", dataIndex: "fid", width: 25},
                    //    {header: "Name", dataIndex: "name", width: 200},
                    //    {header: "Elevation", dataIndex: "elevation"}
                    //],
                }]
	});

	win.show();
	initToolbarContent(toolbar);

});
//]]></script>

{{include 'gis/catalogue_toolbar.html'}}

<div id="center"></div>
<div id="south">
{{include 'gis/ol_status.html'}}
</div>
