{{extend 'layout_ext.html'}}

<script type="text/javascript" src="/sahana/static/mfbase/openlayers/lib/Firebug/firebug.js"></script>
<script type="text/javascript" src="/sahana/static/mfbase/openlayers/lib/OpenLayers.js"></script>
<script type="text/javascript">
	// Because of a bug in Firefox 2 we need to specify the MapFish base path.
	// See https://bugzilla.mozilla.org/show_bug.cgi?id=351282
	var gMfLocation = "/sahana/static/mfbase/mapfish/";
</script>
<script type="text/javascript" src="/sahana/static/mfbase/mapfish/MapFish.js"></script>
<link rel="stylesheet" type="text/css" href="/sahana/static/gis/mapfish.css" />

{{if google:}}
<script src="http://maps.google.com/maps?file=api&v=2&key={{=google_key}}"></script>
{{else:}}
{{pass}}

<script type="text/javascript">

	Ext.onReady(function() {
		var viewport = new Ext.Viewport({
            layout: "border",
            items: [{
                region: "west",
                id: "tools",
                title: "Tools",
                border: true,
				width: 250,
				split: true
			}, {
				region: "center",
				id: "map",
				title: "Map",
				layout: "fit",
				split: true
			}, {
				region: "south",
				id: "search_grid",
				title: "Search results",
				split: true,
				height: 270
			}]
		});
		viewport.doLayout();
	});

</script>