{{extend 'layout.html'}}

{{include 'ext.html'}}

{{include 'gis/ol_js_loaders.html'}}

<script type="text/javascript">//<![CDATA[

{{include 'gis/ol_start_vars.js'}}

{{include 'gis/ol_layers_all.js'}}

{{include 'gis/ol_vector_registerEvents.js'}}

{{include 'gis/ol_controls_features.js'}}

{{include 'gis/ol_functions.js'}}

Ext.onReady(function() {
    
    map = new OpenLayers.Map('center', options);
	
    addLayers(map);
    
    {{include 'gis/ol_layers_features_all.js'}}
    
	{{include 'gis/ol_controls.js'}}
    
    var mapPanel = new GeoExt.MapPanel({
        region: "center",
        id: "mappanel",
        xtype: "gx_mappanel",
        map: map,
        center: center,
        zoom: {{=zoom}},
        tbar: new Ext.Toolbar()
    });
    
    {{include 'gis/toolbar.js'}}
    
    var layerTreeBase = new GeoExt.tree.BaseLayerContainer({
        text: "{{=T('Base Layers')}}",
        layerStore: mapPanel.layers,
        leaf: false,
        expanded: true
    });

    var layerTreeFeaturesExternal = new GeoExt.tree.OverlayLayerContainer({
        text: "{{=T('External Features')}}",
        layerStore: mapPanel.layers,
        leaf: false,
        expanded: true
    });

    var layerTreeFeaturesInternal = new GeoExt.tree.OverlayLayerContainer({
        //text: "{{=T('Internal Features')}}",
        text: "{{=T('Overlays')}}",
        layerStore: mapPanel.layers,
        leaf: false,
        expanded: true
    });

    var layerTree = new Ext.tree.TreePanel({
        id: "treepanel",
        title: "{{=T("Layers")}}",
        root: new Ext.tree.AsyncTreeNode({
            expanded: true,
            children: [layerTreeBase, layerTreeFeaturesInternal]
            //children: [layerTreeBase, layerTreeFeaturesExternal, layerTreeFeaturesInternal]
        }),
        rootVisible: false,
        split: true,
        collapsible: true,
        collapseMode: "mini",
        autoScroll: true,
        lines: false,
        enableDD: true
    });
    
    var win = new Ext.Window({
	//var win = new Ext.Viewport({
		//title    : 'Sahana Map Viewing Client',
		collapsible: true,
		maximizable: true,
		titleCollapse: true,
		width: {{=width}},
		height: {{=height}},
        layout: 'border',
		items:  [{
                    region: "west",
                    id: "tools",
                    title: "{{=T("Tools")}}",
                    border: true,
                    width: 250,
                    collapsible: true,
                    split: true,
                    items: [ layerTree ]
                },
                mapPanel
                ]
    });

	win.show();
    Ext.QuickTips.init();
    
});

//]]></script>

{{include 'gis/catalogue_toolbar.html'}}

{{include 'gis/ol_status.html'}}
