<div class='gis_openlayers_popupbox' id='{{=feature.uuid}}'>
    <div class='gis_openlayers_popupbox_header'>
        <div class='gis_openlayers_popupbox_header_r'>
            {{if features_metadata[feature.id]:}}
            <div class='gis_openlayers_popupbox_author'><label for='gis_popup_author'>{{=str(T("Author"))}}:</label>
                {{=features_metadata[feature.id].created_by}}
            </div>
            <div class='gis_openlayers_popupbox_date'><label for='gis_popup_date'>{{=str(T("Date"))}}:</label>
                {{=features_metadata[feature.id].event_time}}
            </div>
            {{pass}}
        </div>
        <div class='gis_openlayers_popupbox_header_l'>
            <div class='gis_openlayers_popupbox_name'><span>{{=feature.name}}</span>
            {{if features_classes[feature.id]:}}
                ({{=features_classes[feature.id].name}})
            {{pass}}
<!--
     if(!(url === false)):
          <a href='url' target='_blank'><div class='gis_openlayers_popupbox_link' style='width: 17px; height: 17px;'></div></a>
-->
            </div>
        </div>
    </div>
    <div class='gis_openlayers_popupbox_body'>
    {{if features_metadata[feature.id]:}}
        <span class='gis_openlayers_popupbox_text'>{{=features_metadata[feature.id].description}}</span>
    {{pass}}
    </div>
    <div class='gis_openlayers_popupbox_footer'>
    {{if features_classes[feature.id]:}}
        <span><a href='{{=URL(r=request,c=features_classes[feature.id].module,f=features_classes[feature.id].resource,args=['update',feature.resource_id])}}' target='_blank' alt='{{=str(T("edit"))}}'><div class='gis_openlayers_popupbox_edit' style='width: 17px; height: 17px;'></div><span>{{=str(T("Edit"))}}</span></a></span>
    {{pass}}
<!--
# Options will want to display these based on ACL privileges (also make sure resulting actions are ACLed)
#if(url_del === true):
#          <span><a onclick='shn_gis_popup_delete(&#39feature_uuid&#39)' alt='" + str(T("delete")) + "'><div class='gis_openlayers_popupbox_delete' style='width: 17px; height: 17px;'></div><span>" + str(T("delete")) + "</span></a></span>
#elif(!(url_del === false)):
#          <span><a href='url_del' target='_blank' alt='" + str(T("delete")) + "'><div class='gis_openlayers_popupbox_delete' style='width: 17px; height: 17px;'></div><span>" + str(T("delete")) + "</span></a></span>
#else:
#          <span><a onclick='shn_gis_popup_unable()' alt='" + str(T("delete")) + "'><div class='gis_openlayers_popupbox_delete' style='width: 17px; height: 17px;'></div><span>" + str(T("delete")) + "</span></a></span>
#if(url_edit === true):
#          <span><a onclick='shn_gis_popup_edit_details(&#39feature_uuid&#39)' alt='" + str(T("edit")) + "'><div class='gis_openlayers_popupbox_edit' style='width: 17px; height: 17px;'></div><span>" + str(T("edit")) + "</span></a></span>
#elif(!(url_edit === false)):
#          <span><a href='url_edit' target='_blank' alt='" + str(T("edit")) + "'><div class='gis_openlayers_popupbox_edit' style='width: 17px; height: 17px;'></div><span>" + str(T("edit")) + "</span></a></span>
#else:
#          <span><a onclick='shn_gis_popup_unable()' alt='" + str(T("edit")) + "'><div class='gis_openlayers_popupbox_edit' style='width: 17px; height: 17px;'></div><span>" + str(T("edit")) + "</span></a></span>
#if(!(url_view === false)):
#          <span><a href='url_view' target='_blank' alt='" + str(T("view")) + "'><div class='gis_openlayers_popupbox_view' style='width: 17px; height: 17px;'></div><span>" + str(T("view")) + "</span></a></span>
#      <span class='gis_openlayers_popupbox_refreshs'><a onclick='shn_gis_popup_refresh(&#39feature_uuid&#39)' alt='" + str(T("refresh")) + "'><div class='gis_openlayers_popupbox_refresh' style='width: 17px; height: 17px;'></div><span>" + str(T("refresh")) + "</span></a></span>
-->
    </div>
    <div style='clear: both;'>
    </div>
</div>
