{{if session.s3.debug:}}
  {{include 'gis/gis_scripts_debug.html'}}
  {{include 'gis/gis_styles_debug.html'}}
{{else:}}
  {{include 'gis/gis_scripts_min.html'}}
  <!--Ext Stylesheet would need it's images moving if compressed up & relocated-->
  <link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/mfbase/ext/resources/css/ext-all.css" />
  <link href="/{{=request.application}}/static/styles/gis/gis.min.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}


{{if projection==900913:}}
{{if virtualearth:}}
<script type="text/javascript" src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.1"></script>
{{pass}}
{{if google.enabled:}}
<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key={{=google.key}}"></script>
{{pass}}
{{if yahoo.enabled:}}
<script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid={{=yahoo.key}}"></script>
{{pass}}
{{else:}}
<!-- Disable other base layers if using a non-sphericalMercator WMS projection -->
{{pass}}

