<!-- Area for Status reports
 * status_osm - Somewhere to report details of OSM File Features via on_feature_hover()
 * status_georss -  Somewhere to report whether GeoRSS feed is using cached copy or completely inaccessible
 * status_kml -  Somewhere to report whether KML feed is using cached copy or completely inaccessible
 * status_files - Somewhere to report if Files are not found
-->
<table>
<tr><td style="border: 0px none ;" valign="top">
<div id="status_osm"></div>
</td><td style="border: 0px none ;" valign="top">
<div id="status_georss"></div>
<div id="status_kml"></div>
<div id="status_files"></div>
</td></tr>
</table>
