{{extend 'create.html'}}

<script src="/{{=request.application}}/static/scripts/gis/gis_layers.js" type="text/javascript" charset="utf-8"></script>

<form action="" enctype="multipart/form-data" method="post">
  <table>
    {{include 'form_name.html'}}
    {{include 'form_description.html'}}
    {{include 'gis/form_type.html'}}
    {{include 'gis/form_subtype.html'}}
    {{include 'gis/form_apikey.html'}}
    {{include 'gis/form_feature_group.html'}}
    {{include 'form_enabled.html'}}
    {{include 'form_priority.html'}}
    <tr><td></td><td><input type="submit" value="{{=T('Save')}}" /></td></tr>
  </table>
  {{=customform.hidden_fields()}}
  <!-- Gather all errors (some may not be associated with visible fields) -->
  {{if customform.errors:}}
    <div class="error">
    {{for error in customform.errors:}}
        Error in field: {{=error}}
        <br>
        Detail: {{=eval('customform.errors.%s' % error)}}
        <br>
    {{pass}}
    </div>
  {{pass}}
</form>
