{{extend 'display.html'}}

<div class="t2-display">
  <table>
  
    <tr><td><label>{{=T("Name")}}</label></td>
    <td>{{=resource.name}}</td></tr>
    
    <tr><td><label>{{=T("Description")}}</label></td>
    <td>{{=T(resource.description)}}</td></tr>
    
    <tr><td><label>{{=T("Type")}}</label></td>
    <td>{{=layertype}}</td></tr>
    
    {{if subtype != 0:}}
      <tr><td><label>{{=T("SubType")}}</label></td>
      <td>{{=subtype}}</td></tr>
    {{pass}}
    
    {{if apikey != 0:}}
      <tr><td><label>{{=T("Key")}}</label></td>
      <td>{{=apikey}}</td></tr>
    {{pass}}
    
    <tr><td><label>{{=T("Enabled")}}</label></td>
    <td>{{=resource.enabled}}</td></tr>
    
  </table>
</div>
