{{extend "layout.html"}}

<div style='margin: 10px auto; width: 96%; max-width: 1000px;'>
  <div id='home'>
    <div id='map_panel'>
    </div>
  </div>
</div>

{{if session.s3.debug:}}
<script src="/{{=request.application}}/static/scripts/gis/openlayers/lib/OpenLayers.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/scripts/gis/MP.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/scripts/gis/cdauth.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/scripts/gis/usng2.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/scripts/gis/osm_styles.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/scripts/gis/GeoExt/lib/GeoExt.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/scripts/gis/GeoExt/ux/GeoNamesSearchCombo.js" type="text/javascript"></script>
{{else:}}
<script src="/{{=request.application}}/static/scripts/gis/OpenLayers.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/scripts/gis/GeoExt.js" type="text/javascript"></script>
{{pass}}
<script type="text/javascript">//<![CDATA[

    OpenLayers.ProxyHost = '/{{=request.application}}/gis/proxy?url='; 

    var url = 'http://larc.sahanafoundation.org/eden/org/office.geojson';
    
    var lon = -118.186291499;
    var lat = 34.3296640406;
    var center = new OpenLayers.LonLat(lon, lat);
    var zoom = 9;
    var map, layer;

    Ext.onReady(function() {
        map = new OpenLayers.Map('map');
        layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                "http://vmap0.tiles.osgeo.org/wms/vmap0",
                {layers: 'basic'} );
        map.addLayer(layer);
        map.setCenter(center, zoom);

        var geojson_format = new OpenLayers.Format.GeoJSON();
        var vector_layer = new OpenLayers.Layer.Vector("GeoJSON", {
            strategies: [new OpenLayers.Strategy.Fixed()],
            protocol: new OpenLayers.Protocol.HTTP({
                url: url,
                format: geojson_format
            })
        });
        map.addLayer(vector_layer);

        mapPanel = new GeoExt.MapPanel({
            region: 'center',
            height: 800,
            width: 1000,
            id: 'mappanel',
            xtype: 'gx_mappanel',
            map: map,
            center: center,
            zoom: zoom,
            plugins: [],
            tbar: new Ext.Toolbar()
        });

        var panel = new Ext.Panel({
            id: 'gis-map-panel',
            renderTo: 'map_panel',
            autoScroll: true,
            maximizable: true,
            titleCollapse: true,
            height: 800,
            width: 1000,
            layout: 'border',
            items: [{
                    region: 'west',
                    id: 'tools',
                    header: false,
                    border: true,
                    width: 250,
                    autoScroll: true,
                    collapsible: true,
                    collapseMode: 'mini',
                    collapsed: false,
                    split: true,
                    items: []
                    },
                    mapPanel
                    ]
        });
    });

//]]></script>