{{extend 'layout.html'}}

<script src="{{=URL(r=request,c='static',f='scripts/gis_layers.js')}}" type="text/javascript" charset="utf-8"></script>

<div class='form-container'>
<h2>{{=T("Edit Layer")}}</h2>
<div class='label'>
<form action="" enctype="multipart/form-data" method="post">
<table>
<tr><td><label>{{=T("Name")}}</label></td>
<td><input name="name" type="text" value="{{=layer.name}}" />
<span class='req'>*</span>
{{if form.errors.name:}}<div class="error">{{=form.errors.name}}</div>{{pass}}</td></tr>
<tr><td><label>{{=T("Description")}}</label></td>
<td><input name="description" type="text" value="{{=layer.description}}" />
{{if form.errors.description:}}<div class="error">{{=form.errors.description}}</div>{{pass}}</td></tr>
<tr><td><label>{{=T("Type")}}</label></td>
<td><select name="type" type="select">
{{for row in options_type:}}
<option
{{if row==type:}}
selected="selected"
{{pass}}
value="{{=row}}">{{=row}}</option>
{{pass}}
</select>
{{if form.errors.type:}}<div class="error">{{=form.errors.type}}</div>{{pass}}</td></tr>
<!-- Subtype field required for OpenStreetMap, Google, VirtualEarth & Yahoo layers -->
<tr id="subtype"><td><label>{{=T("SubType")}}</label></td>
<td><select name="subtype" type="select">
{{for row in options_subtype:}}
<option
{{if row==subtype:}}
selected="selected"
{{pass}}
value="{{=row}}">{{=row}}</option>
{{pass}}
</select>
<!-- FIXME: Allow non-JS browsers to be able to load subtypes list manually -->
<noscript><input type="submit" name="action" value="Load Subtypes" /></noscript>
{{if form.errors.subtype:}}<div class="error">{{=form.errors.subtype}}</div>{{pass}}</td></tr>
<!-- Key field required for Google, Multimap & Yahoo layers -->
<tr id="key"><td><label>{{=T("Key")}}</label></td>
<td><input name="key" type="text" size=108 value="{{=key}}" />
<span class='req'>*</span>
{{if form.errors.key:}}<div class="error">{{=form.errors.key}}</div>{{pass}}</td></tr>
<!-- Feature Group field required for Internal Features layers -->
<tr id="feature_group"><td><label>{{=T("Feature Group")}}</label></td>
<td><select name="feature_group" type="select">
{{for row in options_feature_group:}}
<option
{{if row.uuid==feature_group:}}
selected="selected"
{{pass}}
value="{{=row.uuid}}">{{=row.name}}</option>
{{pass}}
</select>
<!-- FIXME: Allow non-JS browsers to be able to load feature groups list manually -->
<noscript><input type="submit" name="action" value="Load Feature Groups" /></noscript>
{{if form.errors.feature_group:}}<div class="error">{{=form.errors.feature_group}}</div>{{pass}}</td></tr>
<tr><td><label>{{=T("Enabled")}}</label></td>
<td><input name="enabled" type="checkbox"
{{if layer.enabled:}}
checked="checked" value="on"
{{pass}}
/></td></tr>
<tr><td><label>{{=T("Priority")}}</label></td>
<td><select name="priority" type="select">
{{for row in options_priority:}}
<option
{{if row==layer.priority:}}
selected="selected"
{{pass}}
value="{{=row}}">{{=row}}</option>
{{pass}}
</select>
{{if form.errors.priority:}}<div class="error">{{=form.errors.priority}}</div>{{pass}}</td></tr>
<tr><td></td>
<td><input type="submit" value="{{=T("Save")}}" /></td></tr>
</table>
<!-- Gather all errors (some may not be associated with visible fields) -->
{{if form.errors:}}
<div class="error">
{{for error in form.errors:}}
Error in field:
{{=error}}
<br>
Detail:
{{=eval('form.errors.%s' % error)}}
<br>
{{pass}}
</div>
{{pass}}
<input type="hidden" name="id" value="{{=layer.id}}" />
<input type="hidden" name="modified_on__original" value="{{=layer.modified_on}}" />
{{=form.hidden_fields()}}
</form>
</div>
<p><b>Key:</b><b class='red'> * </b> - Fields tagged with a star &#040;<span class='red'> * </span>&#041; are mandatory and must be filled.</p>
<p>&nbsp;</p>
</div>
{{=A(T("Map Service Catalogue"),_href=t2.action('map_service_catalogue'))}}
