{{extend 'layout.html'}}

{{include 'thickbox.html'}}

<script type="text/javascript">//<![CDATA[
$(function() {
    // Hide the real Input Field
    $("#msg_email_outbox_msg_group_id").hide();
    // Autocomplete-enable the Dummy Input
    $("#dummy").autocomplete('{{=URL(r=request, c='msg', f='group_search', vars={'type':'email'})}}', {
        matchContains: true,
        dataType: 'json',
        parse: function(data) {
            var rows = new Array();
            for(var i=0; i<data.length; i++){
                rows[i] = { data:data[i], value:data[i].id, result:data[i].name };
            }
            return rows;
        },
        formatItem: function(row, i, n) {
            return row.name;
		}
    });
    // Populate the real Input when the Dummy is selected
    $("#dummy").result(function(event, data, formatted) {
        var newvalue = data.id;
        $("#msg_email_outbox_msg_group_id").val(newvalue);
    });
});
//]]></script>

{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
{{include 'key.html'}}
<div class='form-container'>
{{try:}}
 {{=form.custom.begin}}
 <table>
 <tbody>
 <tr id='msg_email_outbox_group_id__row'>
 <td>
 <label>{{=form.custom.label.msg_group_id}}</label>
 </td>
 <td>
 {{=INPUT(_id="dummy", _class="ac_input")}}
  {{=form.custom.widget.msg_group_id}}
 </td>
 <td>
 {{=form.custom.comment.msg_group_id}}
 </td>
 </tr>
 <tr id='msg_email_outbox_subject__row'>
 <td>
 <label>{{=form.custom.label.subject}}</label>
 </td>
 <td>
 {{=form.custom.widget.subject}}
 </td>
 <td>
 {{=form.custom.comment.subject}}
 </td>
 </tr>
 <tr id='msg_email_outbox_body__row'>
 <td>
 <label>{{=form.custom.label.body}}</label>
 </td>
 <td>
 {{=form.custom.widget.body}}
 </td>
 <td>
 {{=form.custom.comment.body}}
 </td>
 </tr>
 <tr id='submit_record__row'>
 <td>
 </td>
 <td>
 {{=form.custom.submit}}
 </td>
 <td>
 </td>
 </tr>
 </tbody>
 </table>
 {{=form.custom.end}} 
{{except:}}
{{pass}}
</div>
<p>&nbsp;</p>
{{try:}}
 {{=list_btn}}
{{except:}}
{{pass}}
