{{extend 'layout.html'}}

<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T(" s the main communicative root of the sahana system. It is used to send sms,E-mail alerts and/or messages to various groups and individuals before, after and during a disaster. It also provides a convenient way of grouping mobile phone numbers and E-mail addresses.")}} 
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li><b>{{=T("Messages")}}</b>:<br>{{=T("SMS and E-mail alerts/messages could be sent to any groups or individuals.")}}</li>
<li><b>{{=T("Manage Groups")}}</b>:<br>{{=T("Each end user is provided the facility to create,customize and maintain various groups of sms and E-mail contacts")}}</li>
<li><b>{{=T("CAP")}}</b>:<br>{{=T("New Alert Option enables end-user to create a New CAP message This will create an xml file containing the CAP message and store it in a temporary directory. You can view this file using 'View Messages' option.")}}
<br>{{=T("View Alert Option enables end-user to view stored CAP messages Two sample messages are already added to the list. You can view them by selecting one of them and pressing the 'view' button")}}</li>
</ul>
</div>
      
      
