{{extend 'layout.html'}}

<div id="home">
{{=H2(title)}}
<p>
{{=T('Send & Receive SMS messages (e.g. for alerting)')}} 
</p>
<h3>{{=T("Functions available")}}:</h3>
<ul>
<li><a href='{{=URL(r=request, f='sms_outbox', args='create')}}'>{{=T('Send SMS')}}</a></li>
<li><a href='{{=URL(r=request, f='sms_inbox')}}'>{{=T('View SMS InBox')}}</a></li>
<li><a href='{{=URL(r=request, f='sms_outbox')}}'>{{=T('View SMS OutBox')}}</a></li>
<li><a href='{{=URL(r=request, f='sms_sent')}}'>{{=T('View Sent SMS')}}</a></li>
</ul>
</div>
