.statusbar
{
    position: fixed;
    bottom: 5px;
    left: 0px;
    right: 0px;
    height: 16px;    
    padding: 5px;
 
    background: black;
    color: white;    
    border: solid 1px lightgray;

    opacity: .70;    
    filter: alpha(opacity="70");
    z-index: 200;

    overflow: hidden;
    overflow-y: auto; 
}
.statusbarhighlight
{
    font-weight: bold;
    background-color: khaki;
    color: Maroon;
    border: solid 1px silver;
}
.statusbarerror
{
    font-weight: bold;
    background-color: khaki;
    color: Red;
    border: solid 1px silver;
}
