/* s3.multiselect.widget.css

   CSS for the S3MultiSelectWidget
   @author: Michael Howden (michael@aidiq.com)
   @date: 2010-05-18
*/

table tbody tr.s3_multiselect_widget_entry_row td,                     
table.s3_multiselect_widget_rows td { border: 1px solid; 
                                   padding: 4px;}
                                   
table tbody tr.s3_multiselect_widget_entry_row td input,                       
table tbody tr.s3_multiselect_widget_entry_row td select { margin: 0px; 
                                            padding: 0px; ! important}      
                                            
/* Formats the Delete and Add Buttons*/     
.s3_multiselect_widget_add  {margin-top: 2px;}   
.s3_multiselect_widget_delete,
.s3_multiselect_widget_add { text-decoration: none; 
                                       color: #006699; 
                                       background-color: #f3f6ff; 
                                       border-right: 1px solid #6699cc; 
                                       border-bottom: 1px solid #6699cc; 
                                       border-left: 1px solid #c6d1f5; 
                                       border-top: 1px solid #c6d1f5; 
                                       padding-left: 2px;
                                       padding-right: 2px; 
                                       margin-left: 5px;
                                       margin-right: 5px;}                             
.s3_multiselect_widget_delete:hover,
.s3_multiselect_widget_add:hover { text-decoration: none; 
                                             color: #fff; 
                                             background-color: #3377bb; 
                                             border-right: 1px solid #4589ce; 
                                             border-bottom: 1px solid #4589ce; 
                                             border-left: 1px solid #000; 
                                             border-top: 1px solid #000; 
                                             padding-left: 2px;
                                             padding-right: 2px;
                                             margin-left: 5px; }
                                             
.s3_multiselect_widget_add_cell  {padding-top: 4px;}                                             