{{extend "layout.html"}}
{{include "_popup.html"}}
{{organisation = request.vars.organisation_id or session.s3.organisation_id or ""}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function () {
    $('#org_office_organisation_id').val('{{=organisation}}');
    if($('#org_office_organisation_id').val() != 'None')
        $('#org_office_organisation_id__row').hide();

    // Organisation Autocomplete
    {{entity_id = request.controller + "_" + request.function + "_organisation_id"}}
    {{urlpath_c = "org"}}
    {{urlpath_f = "organisation"}}
    {{urlvar_field = "name"}}
    {{if session.s3.organisation_name:}}
        {{default_value = session.s3.organisation_name}}
    {{pass}}
    {{include "auto_input.js"}}
});
//]]></script>

