{{extend "layout.html"}}
{{include "_update.html"}}
<script type="text/javascript">//<![CDATA[
$(function() {
    // Person AutoComplete
    // Hide the real Input Field
    $('#irs_ireport_person_id').hide();
    // Add a dummy field
    $('#irs_ireport_person_id').after("<input id='dummy_irs_ireport_person_id' class='ac_input' size=50 />");
    {{dummy_input = "dummy_irs_ireport_person_id"}}
    {{include "pr/person_autocomplete.js"}}
    // Populate the real Input when the Dummy is selected
    $('#dummy_irs_ireport_person_id').result(function(event, data, formatted) {
        var newvalue = data.id;
        $('#irs_ireport_person_id').val(newvalue);
    });
    
    // Location AutoComplete
    {{location_id = "irs_ireport_location_id"}}
    {{include "gis/location_autocomplete.js"}}
});
//]]></script>
